html{
	text-align: center;
}
body {
	margin: 0 auto;
	width: 100%;
	font-family: 'Oswald', sans-serif;
	position: relative;
	background: #1b1813 url('i/bg.jpg') no-repeat top;
	background-size: contain;
}
h1 {
	text-indent: -9999px;
	height: 0;
	margin: 0;
}

p {
	color: #fff;
}

@keyframes drop{
	0%{
		transform: translate(110px,21px);
	}
	5%{
		transform: translate(110px,21px) rotate(6deg);
	}
	12%{
		transform: translate(110px,21px) rotate(-12deg);
	}
	28%{
		transform: translate(110px,21px) rotate(18deg);
	}
	38%{
		transform: translate(110px,21px) rotate(-130deg);
	}
	80%{
		width: 69px;
	}
	99%{
		transform: translate(110px,1300px) rotate(-720deg);
	}
	100%{
		transform: translate(23px,2000px) rotate(-720deg);
		width: 0;
	}
}

#title {
	width: 480px;
	transition: 1000ms ease-in-out;
	margin: 10px auto -20px;
}

video {
	width: 100%;
	max-width: 800px;
	height: auto;
}

.wrapper {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	padding: 60px;
	background: url('i/frame.png') no-repeat 0 0;
}

.wrapper:after{
	display: none;
	content: "3";
	font-size: 142px;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 37%;
    color: #fff;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    z-index: 1000003;
    background: #D21C25;
    border-radius: 50%;
    padding: 20px;
    line-height: 0.7;
    border: 10px solid #fff;
    box-shadow:
    -4px 4px #333,
    4px -4px #333,
    -4px -4px #333,
    4px 4px #333
}

@keyframes countdown{
	0%{
		opacity: 0.6;
		content: "3"
	}
	10%{
		opacity: 0.6;
	}
	32%{
		opacity: 0;
		content: "3"
	}
	33%{
		opacity: 0.6;
		content: "2";
	}
	43%{
		opacity: 0.6;
	}
	65%{
		opacity: 0;
		content: "2";
	}
	66%{
		opacity: 0.6;
		content: "1";
	}
	77%{
		opacity: 0.6;
	}
	100%{
		display: none;
		content: "1";
	}
}

.wrapper.clicked:after{
	display: block;
	animation: countdown 3s forwards;
}

@keyframes flash{
	90%{
		opacity: 0;
	}
	94%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

.wrapper.clicked:before{
	width: 800px;
	height: 600px;
	background: #fff;
	content: "";
	position: absolute;
	z-index: 1000004;
	animation: flash 3s forwards;
	opacity: 0;
}

p {
	text-align:center;
	margin-bottom: 20px;
	margin-top:20px;
}

a {
	color: #392C44;
	text-decoration:none;
}

#overlay {
	position: absolute;
	max-width: 800px;
	margin-top: 60px;
	top: 75px;
	z-index: 100001;
	display: block;
}

#flatten {
	position: absolute;
    max-width: 800px;
    margin-top: 60px;
    top: 60px;
    z-index: 100002;
    display: block;
}

#tweet-wrapper{
	display: none;
	background: rgba(142,9,16,0.5);
    width: 800px;
    position: relative;
    margin: 0 auto 40px;
    padding: 10px 5px;
    border-radius: 15px;
    overflow: auto;
}

#tweet-wrapper p{
	margin: 5px;
	font-size: 20px;
	color: #fff;
	display: block;
	font-weight: 700;
}

#tweet-wrapper textarea {
	margin: -30px 10px 10px;
	resize: none;
	border-radius: 10px;
	padding: 0 8px;
	border: none;
	width: 70%;
	font-size: 14px;
    color: #7B7979;
    font-family: 'Oswald', sans-serif;
    height: 34px;
    float: left
}

#tweet-wrapper textarea:focus{
	outline: none;
}

#tweet-wrapper textarea#tweetText{
	margin-top: 5px;
	padding: 8px 8px 8px;
}

#tweet{
	background: #55acee url('i/tweet.png') 94% 13px no-repeat;
	background-size: 22px;
	padding: 12px 37px 12px 12px;
	width: 22%;
	margin: 5px;
	text-transform: uppercase;
	border: 2px solid #fff;
	border-radius: 10px;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
}

#twitter-widget-0{
	margin: 0 auto;
	border-radius: 15px;
}

#MediaCard-borderOverlay{
	border: none;
}

.btn{
	display: inline-block;
	margin: 0 5px;
	color: #fff;
	font-weight: 700;
	border: #A5010A 3px solid;
	background-color: #C0222A;
	background-repeat: no-repeat;
	padding: 7px 40px 7px 15px;
	border-radius: 50px;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
	transition: 0.2s ease-in-out;
	text-shadow: 1px 1px #545454;
}

.btn:hover{
	cursor: pointer;
	background-color: #A5010A;
}

#snap{
	background-image: url('i/snap.png');
	background-size: 26px;
	background-position: 94% 14px;
	font-size: 26px;
    display: block;
    margin: -27px auto 10px;
    padding-right: 48px;
}

@media (max-width: 960px){
	.wrapper{
		max-width: 960px;
		width: 100%;
		padding: 60px 0;
	    background: url('i/frame.png') no-repeat -70px 0;
		background-size: cover;
	}
	svg{
		display: none;
	}
	video, #overlay, #flatten {
		max-width: 960px;
	}
	.wrapper.clicked:before {
    	width: 100%;
    	height: 75vw;
	}
	.wrapper:after{
		top: 27%;
	}
	#tweet-wrapper{
		width: 100%;
		box-sizing: border-box;
	}
	#tweet-wrapper{
		width: 95%;
	}
	#tweet-wrapper textarea{
		width: 88%;
		height: auto;
	}
	#tweet-wrapper textarea{
		display: none;
	}
	#tweet-wrapper textarea#tweetText{
		border-radius: 10px;
		display: block;
	}
	#tweet{
		width: 180px;
	}
	.btn{
		margin: 5px;
	}
}