<footer>
  <div class="container">
    <div class="footer-copyright">
      © Copyright by <span class="yellow"><a href="http://heapspace.rs" target="_blank">HeapSpace</a></span> | organised with love for technology and local community.<br/>
      <span class="yellow"><a href="https://belgrade.voxxeddays.com/code-of-conduct/">Code of Conduct</a></span> | Hosted by <span class="yellow"><a href="http://www.mcloud.rs/" target="_blank">mCloud</a></span>.
    </div>
    <div class="footer-social">
      <a href="https://twitter.com/VoxxedBelgrade" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="https://www.facebook.com/voxxedbelgrade" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://www.instagram.com/voxxeddaysbelgrade/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a href="https://www.youtube.com/channel/UCCuk9PF9aVcPOSsVwDzyrRQ" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');

  fbq('init', '1462917207341828');
  fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=1462917207341828&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
