<footer>
  <div class="container">
    <div class="footer-copyright">
      © Copyright by <span class="yellow"><a href="http://heapspace.rs" target="_blank">HeapSpace</a></span>. Organised with love for technology and local community.
    </div>
    <div class="footer-social">
      <a href="https://twitter.com/VoxxedBelgrade" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="https://www.facebook.com/voxxedbelgrade" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://www.instagram.com/voxxeddaysbelgrade/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a href="https://www.youtube.com/channel/UCCuk9PF9aVcPOSsVwDzyrRQ" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
