<div class="header-holder">
    <nav class="navbar navbar-default nav-collapse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainmenu" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="visible-md-inline-block visible-sm-inline-block visible-xs-inline-block" href="/"><div class="mobile-menu-logo"><img src="/images/vx_logo_small_mono.png"></div></a>
      </div>
      <div class="navbar-collapse collapse" id="mainmenu" aria-expanded="false" style="height: 0px;">
        <div class="container">
          <ul class="mainmenu primary-nav main-menu">
              <!-- <%= logo_unless_page('./none') %> -->
              <%= link_to_unless_current('Home', '/') %>
              <%= link_to_unless_current('Info', '/info/') %>
              
              <%= link_to_unless_current('Tickets', '/tickets/') %>
              <%= link_to_unless_current('Sponsors', '/sponsors/') %>
              <li class="menu_item active">Blog</li>
              <%= link_to_unless_current('FAQ', '/faq-and-notes/') %>
              <%= link_to_unless_current('Contact', '/contact/') %>
          </ul>
        </div>
      </div>
    </nav>

</div>
