<div>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav nav-pills nav-justified main-menu">
        <li role="presentation" class="main-menu-item"><a href="#" class="active">Home</a></li>
        <li role="presentation" class="main-menu-item"><a href="#">Info</a></li>
        <li role="presentation" class="main-menu-item"><a href="#">Call for papers</a></li>
        <li role="presentation" class="main-menu-item"><a href="#">Tickets</a></li>
        <li role="presentation" class="main-menu-item"><a href="#">Sponsors</a></li>
        <li role="presentation" class="main-menu-item"><a href="#">FAQ</a></li>
      </ul>
    </div>
  </nav>
</div>
