<div class="header-holder">

    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainmenu" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="visible-md-inline-block visible-sm-inline-block visible-xs-inline-block" href="#"><div class="mobile-menu-logo"><img src="/images/vx_logo_small_mono.png"></div></a>
        </div>
        <div class="collapse navbar-collapse" id="mainmenu">
          <div class="container">
            <ul class="nav nav-pills nav-justified main-menu">
              <!-- <%= logo_unless_page('./none') %> -->
              <%= link_to_unless_current('Home', '/') %>
              <%= link_to_unless_current('Info', '/info/') %>
              <%= link_to_unless_current('Call for Papers', '/submit-talk/') %>
              <%= link_to_unless_current('Tickets', '/tickets/') %>
              <%= link_to_unless_current('Sponsors', '/sponsors/') %>
              <!-- <%= link_to_unless_current('News', './news.html') %> -->
              <%= link_to_unless_current('FAQ', '/faq-and-notes/') %>
              <%= link_to_unless_current('Contact', '/contact/') %>
            </ul>
          </div>
        </div>

    </nav>

</div>
