<%

  get_schedule_data(@day, @track).each do |talk|

  item_slot = @slots[talk['slot'].to_i].reduce(:merge)
  item_break = @breaks[talk['slot'].to_i].reduce(:merge)

  if !talk['duration'].to_s.empty?
    talkduration = talk['duration']
  else
    talkduration = item_slot[:dur]
  end
%>
  <div class="schedule-item <% if talk['type'] == 'empty' %>empty<% end %>" style="height: <%= talkduration*6 %>px">
    <% if !talk['title'].to_s.empty? %><h4 class=""><%= item_slot[:time] %></h4><% end %>
    <% if !talk['talkspeakers'].to_s.empty? %>
      <% talk['talkspeakers'].flatten(1).each do |speaker| %>
        <% if !speaker['pageurl'].to_s.empty? %><a href="/speakers/<%= speaker['pageurl'] %>/"><% end %>
          <h6 class="bold yellow"><%= speaker['firstname'] %> <%= speaker['lastname'] %></h6>
        <% if !speaker['pageurl'].to_s.empty? %></a><% end %>
      <% end %>
    <% end %>
    <a href="/talk/<%= talk['tid'] %>/"><h6 class=""><%= talk['title'] %></h6></a>
    <% if !talk['title'].to_s.empty? %><div class="brown"><%= talkduration.to_s %> min</div><% end %>
  </div>
  <% if item_break[:dur] > 0 %>
  <div class="schedule-item<% if item_break[:name] == 'lunch' %> lunch<% end %><% if item_break[:name] == 'chill out' %> chillout<% end %>" style="height: <%= item_break[:dur]*6 %>px">
    <h6 class="break"><%= item_break[:name] %></h6>
    <div class="duration"><%= item_break[:dur].to_s %> min</div>
    <% if item_break[:name] == 'coffee break' %><span class="devicons devicons-java coffee"></span><% end %>
  </div>
  <% end %>
<%
  end
%>
