<div class="row schedule-header">
  <div class="col-lg-2">
    <h5 class="bold yellow text-center">Track 1</h5>
  </div>
  <div class="col-lg-2">
    <h5 class="bold yellow text-center">Track 2</h5>
  </div>
  <div class="col-lg-2">
    <h5 class="bold yellow text-center">Track 3</h5>
  </div>
  <div class="col-lg-2">
    <h5 class="bold yellow text-center">Business Track</h5>
  </div>
  <div class="col-lg-2">
    <h5 class="bold yellow text-center">Workshop</h5>
  </div>
  <div class="col-lg-2">
    &nbsp;
  </div>
</div>
