<div class="row-centered margin-top-small">
	<div class="col-md-8 col-centered">
		<div class="block-item clear text-center">
			<h4 class="bold text-center">Technology topics</h4>
			<div class="line-subtitle">
				<h5 class="text-center">Emerging Architectures</h5>
			</div>
			<div class="false-btn green"><i class="fa fa-star" aria-hidden="true"></i><span>Architecture & Security</span></div>
			<div class="false-btn green"><i class="fa fa-star" aria-hidden="true"></i><span>Infrastructure</span></div>
			<div class="false-btn green"><i class="fa fa-star" aria-hidden="true"></i><span>Cloud</span></div>
			<div class="false-btn green"><i class="fa fa-star" aria-hidden="true"></i><span>Containers</span></div>
			<div class="false-btn green"><i class="fa fa-star" aria-hidden="true"></i><span>Microservices</span></div>
			<div class="false-btn green"><i class="fa fa-star" aria-hidden="true"></i><span>APIs</span></div>
			<div class="line-subtitle">
				<h5>Disruptive Machines</h5>
			</div>
			<div class="false-btn blue"><i class="fa fa-star" aria-hidden="true"></i><span>Hardware</span></div>
			<div class="false-btn blue"><i class="fa fa-star" aria-hidden="true"></i><span>Embedded</span></div>
			<div class="false-btn blue"><i class="fa fa-star" aria-hidden="true"></i><span>IoT</span></div>
			<div class="false-btn blue"><i class="fa fa-star" aria-hidden="true"></i><span>Robotics</span></div>
			<div class="false-btn blue"><i class="fa fa-star" aria-hidden="true"></i><span>AI</span></div>
			<div class="false-btn blue"><i class="fa fa-star" aria-hidden="true"></i><span>Virtual Reality</span></div>
			<div class="line-subtitle">
				<h5>Software World</h5>
			</div>
			<div class="false-btn green"><i class="fa fa-star" aria-hidden="true"></i><span>Big Data</span></div>
			<div class="false-btn green"><i class="fa fa-star" aria-hidden="true"></i><span>Data Analytics</span></div>
			<div class="false-btn green"><i class="fa fa-star" aria-hidden="true"></i><span>Modern Web</span></div>
			<div class="false-btn green"><i class="fa fa-star" aria-hidden="true"></i><span>Mobile</span></div>
			<div class="false-btn green"><i class="fa fa-star" aria-hidden="true"></i><span>UX Design</span></div>
			<div class="false-btn green"><i class="fa fa-star" aria-hidden="true"></i><span>Tools</span></div>
			<div class="false-btn green"><i class="fa fa-star" aria-hidden="true"></i><span>Languages & Frameworks</span></div>
		</div>
		<div class="block-item clear text-center">
			<h4 class="bold text-center">Business topics</h4>
			<div class="false-btn red"><i class="fa fa-star" aria-hidden="true"></i><span>Digital Innovation</span></div>
			<div class="false-btn red"><i class="fa fa-star" aria-hidden="true"></i><span>Entrepreneurship</span></div>
			<div class="false-btn red"><i class="fa fa-star" aria-hidden="true"></i><span>Growth Acceleration</span></div>
			<div class="false-btn red"><i class="fa fa-star" aria-hidden="true"></i><span>Collaborative Economy</span></div>
		</div>
	</div>
</div>
