<ul id="track-tabs" class="nav nav-tabs nav-justified" role="tablist">
  <li role="presentation" class="active"><a href="#<%= @day %>-track1" aria-controls="<%= @day %>-track1" role="tab" data-toggle="tab">Track 1</a></li>
  <li role="presentation"><a href="#<%= @day %>-track2" aria-controls="<%= @day %>-track2" role="tab" data-toggle="tab">Track 2</a></li>
  <li role="presentation"><a href="#<%= @day %>-track3" aria-controls="<%= @day %>-track3" role="tab" data-toggle="tab">Track 3</a></li>
  <li role="presentation"><a href="#<%= @day %>-track4" aria-controls="<%= @day %>-track4" role="tab" data-toggle="tab">Track 4</a></li>
</ul>
