<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title'%>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html'%>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Crew behind<br><span class="yellow">VDB 2016</span>
	  </h1>
		<div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <h4 class="text-center plain">Voxxed Days Belgrade is organized by the team of enthusiasts who believe that growth is possible only through sharing of top knowledge and awesome energy!<br><br>We are active members of <span class="yellow"><a href="http://heapspace.rs" target="_blank">HeapSpace</a></span> community,<br>in charge of raising the technological community of Serbia onto the whole new level.</h4>
	    </div>
	  </div>

	  <div class="steam-separator"></div>

		<div class="row-centered">
	    <div class="col-sm-2 col-centered">
	      <div class="team-member">
					<div class="frame">
	        	<img class="jovana" src="/images/team/jovana2.jpg" data-animated="/images/team/jovana2.gif" />
					</div>
	      </div>
	    </div>
			<div class="col-sm-2 col-centered">
	      <div class="team-member">
					<div class="frame">
						<img class="" src="/images/team/sasa.jpg" data-animated="/images/team/sasa.gif" />
					</div>
	      </div>
	    </div>
			<div class="col-sm-2 col-centered">
	      <div class="team-member">
					<div class="frame">
	        	<img class="igor" src="/images/team/igor.jpg" data-animated="/images/team/igor.gif" />
					</div>
	      </div>
	    </div>
			<div class="col-sm-2 col-centered">
	      <div class="team-member">
					<div class="frame">
	        	<img class="zile" src="/images/team/zile.jpg" data-animated="/images/team/zile.gif" />
					</div>
	      </div>
	    </div>
		</div>
		<div class="row-centered">
			<div class="col-sm-2 col-centered">
	      <div class="team-member">
					<div class="frame">
						<img class="tanja" src="/images/team/tanja.jpg" data-animated="/images/team/tanja.gif" />
					</div>
	      </div>
	    </div>
			<div class="col-sm-2 col-centered">
	      <div class="team-member">
					<div class="frame">
	        	<img class="dusica" src="/images/team/dusica2.jpg" data-animated="/images/team/dusica2.gif" />
					</div>
	      </div>
	    </div>
			<div class="col-sm-2 col-centered">
	      <div class="team-member">
					<div class="frame">
						<img class="" src="/images/team/vesna.jpg" data-animated="/images/team/vesna.gif" />
					</div>
	      </div>
	    </div>
			<div class="col-sm-2 col-centered">
	      <div class="team-member">
					<div class="frame">
						<img class="tamara" src="/images/team/tamara2.jpg" data-animated="/images/team/tamara2.gif" />
					</div>
	      </div>
	    </div>
			<div class="row-centered">
				<div class="col-sm-2 col-centered">
		      <div class="team-member">
						<div class="frame">
							<img class="ana" src="/images/team/ana1.jpg" data-animated="/images/team/ana1.gif" />
						</div>
		      </div>
		    </div>
				<div class="col-sm-2 col-centered">
		      <div class="team-member">
						<div class="frame">
							<img class="" src="/images/team/dimitrije2.jpg" data-animated="/images/team/dimitrije2.gif" />
						</div>
		      </div>
		    </div>
				<div class="col-sm-2 col-centered">
		      <div class="team-member">
						<div class="frame">
							<img src="/images/team/marija2.jpg" data-animated="/images/team/marija2.gif" />
						</div>
		      </div>
		    </div>
				<div class="col-sm-2 col-centered">
		      <div class="team-member">
						<div class="frame">
							<img class="antun" src="/images/team/antun_2.jpg" data-animated="/images/team/antun_2.gif" />
						</div>
		      </div>
		    </div>
		  </div>
			<div class="row-centered">
				<div class="col-sm-2 col-centered">
		      <div class="team-member">
						<div class="frame">
		        	<img class="deki" src="/images/team/deki1.jpg" data-animated="/images/team/deki1.gif" />
						</div>
		      </div>
		    </div>
		  </div>
	  </div>
	</div>
	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>

	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>

</body>
</html>
