<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title'%>
	<%= meta_share %>
	<%= meta_tag :keywords %>
<style type="text/css">
	.about {
		text-align: center;
		color: #999;
		font-size: 12px;
		font-style: italic;
	}
</style>
</head>
<body>
<%= render '/_header.html'%>

<div class="main-bg page"></div>
<div class="container">
	<h1 class="text-center pad-vertical-big">
		Crew behind<br><span class="yellow">VDB 2016</span>
	</h1>
	<div class="row-centered">
		<div class="col-sm-8 col-centered">
			<h4 class="text-center plain">Voxxed Days Belgrade is organized by the team of enthusiasts who believe that growth is possible only through sharing of top knowledge and awesome energy!<br><br>We are active members of <span class="yellow"><a href="http://heapspace.rs" target="_blank">HeapSpace</a></span> community,<br>in charge of raising the technological community of Serbia onto the whole new level.</h4>
		</div>
	</div>

	<div class="steam-separator"></div>

	<div class="row-centered">
		<div class="col-sm-2 col-centered">
			<a class="team-member" href="http://rs.linkedin.com/in/jovanatomic/en" target="_blank">
				<div class="frame">
					<img class="jovana" src="/images/team/jovana2.jpg" data-animated="/images/team/jovana2.gif"/>
				</div>
				<div class="name">
					<h6 class="text-center">Jovana Tomić</h6>
					<div class="about">"Talks relentlessly."</div>
				</div>
			</a>
		</div>
		<div class="col-sm-2 col-centered">
			<a class="team-member" href="http://rs.linkedin.com/pub/aleksandar-marjanovic/4/3b5/721/en" target="_blank">
				<div class="frame">
					<img class="" src="/images/team/sasa.jpg" data-animated="/images/team/sasa.gif"/>
				</div>
				<div class="name">
					<h6 class="text-center">Aleksandar Marjanović</h6>
					<div class="about">"All good..."</div>
				</div>
			</a>
		</div>
		<div class="col-sm-2 col-centered">
			<a class="team-member" href="https://www.linkedin.com/pub/ana-rodic/7b/2b/4a" target="_blank">
				<div class="frame">
					<img class="ana" src="/images/team/ana1.jpg" data-animated="/images/team/ana1.gif"/>
				</div>
				<div class="name">
					<h6 class="text-center">Ana Rodić</h6>
					<div class="about">"If at first you don't succeed; call it version 1.0."</div>
				</div>
			</a>
		</div>
		<div class="col-sm-2 col-centered">
			<a class="team-member" href="http://rs.linkedin.com/in/miloszikic" target="_blank">
				<div class="frame">
					<img class="zile" src="/images/team/zile.jpg" data-animated="/images/team/zile.gif"/>
				</div>
				<div class="name">
					<h6 class="text-center">Miloš Žikić</h6>
					<div class="about">"Mr. Visibility"</div>
				</div>
			</a>
		</div>
	</div>
	<div class="row-centered">
		<div class="col-sm-2 col-centered">
			<a class="team-member" href="https://rs.linkedin.com/in/tanja-tanackovic-b4b38353" target="_blank">
				<div class="frame">
					<img class="tanja" src="/images/team/tanja.jpg" data-animated="/images/team/tanja.gif"/>
				</div>
				<div class="name">
					<h6 class="text-center">Tanja Tanacković</h6>
					<div class="about">"Talk quietly and take your dog with you."</div>
				</div>
			</a>
		</div>
		<div class="col-sm-2 col-centered">
			<a class="team-member" href="http://rs.linkedin.com/in/dusicabrankovzikic/en" target="_blank">
				<div class="frame">
					<img class="dusica" src="/images/team/dusica2.jpg" data-animated="/images/team/dusica2.gif"/>
				</div>
				<div class="name">
					<h6 class="text-center">Dušica Brankov-Žikić</h6>
					<div class="about">"Behind every great man is a woman rolling her eyes."</div>
				</div>
			</a>
		</div>
		<div class="col-sm-2 col-centered">
			<a class="team-member" href="http://uk.linkedin.com/pub/vesna-marjanovic/1a/b86/8a0/en" target="_blank">
				<div class="frame">
					<img class="" src="/images/team/vesna.jpg" data-animated="/images/team/vesna.gif"/>
				</div>
				<div class="name">
					<h6 class="text-center">Vesna Marjanović</h6>
					<div class="about">"Give me some chocolate."</div>
				</div>
			</a>
		</div>
		<div class="col-sm-2 col-centered">
			<a class="team-member" href="https://rs.linkedin.com/in/tamara-rendulic-b8124629" target="_blank">
				<div class="frame">
					<img class="tamara" src="/images/team/tamara2.jpg" data-animated="/images/team/tamara2.gif"/>
				</div>
				<div class="name">
					<h6 class="text-center">Tamara Rendulić</h6>
					<div class="about">"It always seems impossible until its done. "</div>
				</div>
			</a>
		</div>
		<div class="row-centered about-fix">
			<div class="col-sm-2 col-centered">
				<a class="team-member" href="https://github.com/igorspasic" target="_blank">
					<div class="frame">
						<img class="igor" src="/images/team/igor.jpg" data-animated="/images/team/igor.gif"/>
					</div>
					<div class="name">
						<h6 class="text-center">Igor Spasić</h6>
						<div class="about">"Give me spaghetti, I will give you code"</div>
					</div>
				</a>
			</div>
			<div class="col-sm-2 col-centered">
				<a class="team-member" href="https://www.facebook.com/dimitrije.stamenkovic.9" target="_blank">
					<div class="frame">
						<img class="" src="/images/team/dimitrije2.jpg"
							 data-animated="/images/team/dimitrije2.gif"/>
					</div>
					<div class="name">
						<h6 class="text-center">Dimitrije Stamenković</h6>
						<div class="about">"Well done ;)"</div>
					</div>
				</a>
			</div>
			<div class="col-sm-2 col-centered">
				<a class="team-member" href="https://rs.linkedin.com/in/marijakanazir" target="_blank">
					<div class="frame">
						<img src="/images/team/marija2.jpg" data-animated="/images/team/marija2.gif"/>
					</div>
					<div class="name">
						<h6 class="text-center">Marija Kanazir</h6>
						<div class="about">"To create well I have to be in a good mood, happy and cool."</div>
					</div>
				</a>
			</div>
			<div class="col-sm-2 col-centered">
				<a class="team-member" href="https://hr.linkedin.com/in/antundebak" target="_blank">
					<div class="frame">
						<img class="antun" src="/images/team/antun_2.jpg" data-animated="/images/team/antun_2.gif"/>
					</div>
					<div class="name">
						<h6 class="text-center">Antun Debak</h6>
						<div class="about">"Weather forecast for tonight: dark."</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row-centered about-fix">
			<div class="col-sm-2 col-centered">
				<a class="team-member" href="https://rs.linkedin.com/in/dejan-tasi%C4%87-a4635727" target="_blank">
					<div class="frame">
						<img class="deki" src="/images/team/deki1.jpg" data-animated="/images/team/deki1.gif"/>
					</div>
					<div class="name">
						<h6 class="text-center">Dejan Tasić</h6>
						<div class="about">"Roses are red, violets are blue, I'm schizophrenic, and so am I. "</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="footer-cta-block info margin-top-big">
	<%= render '/_footer_cta.html' %>
</div>

<%= render '/_footer.html'%>
<%= render '/_bottomscripts.html'%>

</body>
</html>
