<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title' %>
	<%= meta_share @item[:title], @item[:excerpt], "#{@config[:site][:base_url]}/images/#{@item[:image]}" %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html' %>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Back<br><span class="yellow">to school</span>
	  </h1>

	  <div class="row-centered">
	    <div class="col-md-6 col-centered">
				<h4 class="text-center plain">
				School dayz are rooooling back! Put your cogs and pens in leather bags, put your smart goggles on, tune the zeppelins...
				<br/>
				Voxxed Days Belgrade wants to remind you how learning is important when done right.
				</h4>
			</div>
		</div>

		<div class="margin-top-med">
		<img src="/images/BackToSchoolTransparent.png" style="height: 450px; margin: 0 auto;" />
		</div>

		<div class="row-centered margin-top-small">
			<div class="col-sm-10 col-centered">
				<div class="block-text text-center">


To appreciate our devotion for knowledge, we have crafted a serious deal for you! We took some differential calculus, Schrödinger cat (or two), pure unicorn tears and secret combustion reaction; to produce this offer… Hurry, it lasts only until September the 1st!
<br/><br/>
And it already feels like getting all A’s!

<h3 class="yellow margin-top-med">40% off for the fastest 25!</h3>
<div class="accent">
	Because forty is the only number in English whose letters appear in alphabetical order.
</div>
<h3 class="yellow margin-top-small">30% off the price for the second batch of 25!</h3>
<div class="accent">
	Because in Back to the Future, Marty McFly travelled 30 years back in time.
</div>
<h3 class="yellow margin-top-small">20% off the price for the last 25!</h3>
<div class="accent">
	Because the sum of the first 6 Fibonacci numbers is 20. And we love Fibonacci!
</div>
<br/><br/><br/>
It’s your turn now! Use this special, super-secret magical code:
<h3 class="accent">BACK2SCHOOL</h3>
and make yourself happy right away!
<br/><br/>
	<a href="/tickets/" class="btn btn-primary btn-lg green home-top" role="button"><i class="fa fa-ticket"></i> Get your ticket</a>
<br/><br/>
Back to school and don’t miss the opportunity. We definitely don’t want to miss you here!
<br/><br/>
<span class="accent">See you at VoxxedDays Belgrade!</span>

				</div>
			</div>
		</div>

		<div class="steam-separator"></div>

	</div>
	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>
	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
</body>
</html>
