<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title'%>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html'%>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Call for papers<br><span class="yellow">is now closed!</span>
	  </h1>
	  <h4 class="text-center plain">All submissions will be peer reviewed and honestly evaluated<br>based on <span class="accent">originality, content depth and relevance</span> to the conference.</h4>
		<div class="row margin-top-small">
			<div class="col-md-4 flag-col">
				<div class="flag first passed">
					June 5th
				</div>
				<div class="block-text text-center">
					<span class="accent">Call For Papers</span><br>
					closed
	      </div>
			</div>
			<div class="col-md-4 flag-col">
				<div class="flag second">
					June 10th
				</div>
				<div class="block-text text-center">
					<span class="accent">Notification</span> of<br>
					Acceptance/Rejection
	      </div>
			</div>
			<div class="col-md-4 flag-col">
				<div class="flag">
					September 28th
				</div>
				<div class="block-text text-center">
					<span class="accent">VoxxedDays Belgrade 2016</span><br>
					3 days full of fun!
	      </div>
			</div>
		</div>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text text-center">


					<h4 class="bold">Monetary Policy</h4>

					VVoxxed Days Belgrade is proud to be an independent and community-driven conference. It is organized by HeapSpace, non-profit technology community boosting technology and entrepreneurship in Serbia for more then 13 years. As a result of our independence, we have limited resources and we cannot cover cost for our speakers.
					<br><br>
					If you have any questions related to the submission process be sure to contact us at <span class="yellow"><a href="mailto:hello@heapspace.rs">hello@heapspace.rs</a></span>.
	      </div>
	    </div>
	  </div>
	</div>
	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>

	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>

</body>
</html>
