<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title'%>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html'%>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    We're eager<br><span class="yellow">to hear from you!</span>
	  </h1>
	  <h4 class="text-center plain">VoxxedDays Belgrade 2016 returns bigger and brighter!<br>We can’t wait to start a new, 3-days round<br>of learning and sharing!</h4>
		<div class="text-center info-content margin-top-small"><a href="#submitform" class="btn btn-primary btn-lg green" role="button">Don't wait, submit your talk!</a></div>
	  <div class="steam-separator"></div>
	  <h2 class="text-center">
	    Let's make <span class="yellow">something awsm!</span>
	  </h2>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text">
	        If you are:
					<br><br>
					&bull; a <span class="accent">tech-loving</span> enthusiast<br>
					&bull; who enjoys <span class="accent">friendly and constructive</span> discussions<br>
					&bull; knows how to trigger them<br>
					&bull; and <span class="accent">ready to present</span> your research or ideas on 28th, 29th or 30th of September<br>
					<br><br>
					do not hesitate <span class="yellow">to submit</span> your great proposal!  to network, hack, get inspired and learn.
	      </div>
	    </div>
	  </div>
	  <div class="steam-separator"></div>
	  <h2 class="text-center">
	    <span class="yellow">Topics and dates</span><br>to take into account
	  </h2>
		<%= render '/_topics.html' %>
		<h4 class="bold text-center margin-top-med">Important dates to have in mind</h4>
		<div class="row margin-top-small">
			<div class="col-md-4 flag-col">
				<div class="flag first">
					June 1st
				</div>
				<div class="block-text text-center">
					<span class="accent">Call For Papers</span><br>
					closing
	      </div>
			</div>
			<div class="col-md-4 flag-col">
				<div class="flag second">
					June 10th
				</div>
				<div class="block-text text-center">
					<span class="accent">Notification</span> of<br>
					Acceptance/Rejection
	      </div>
			</div>
			<div class="col-md-4 flag-col">
				<div class="flag">
					September 28th
				</div>
				<div class="block-text text-center">
					<span class="accent">VoxxedDays Belgrade 2016</span><br>
					3 days full of fun!
	      </div>
			</div>
		</div>
			<div id="submitform" class="steam-separator"></div>
	  <h2 class="text-center">
	    <span class="yellow">Submit</span> your talk!
	  </h2>
		<form class="margin-top-small" action="submit_talk.php" method="post">
			<div class="row">
		    <div class="col-sm-6">
		      <div class="form-group">
				    <input type="text" class="form-control float-label" required="required" name="formname" placeholder="What is Your Full Name?">
				  </div>
		    </div>
				<div class="col-sm-6">
		      <div class="form-group">
				    <input type="email" class="form-control float-label" required="required" name="formemail" placeholder="Your Email Address">
				  </div>
		    </div>
		  </div>
			<div class="row">
		    <div class="col-sm-6">
		      <div class="form-group">
				    <input type="text" class="form-control float-label" required="required" name="formtitle" placeholder="The title of your presentation (required)">
				  </div>
		    </div>
				<div class="col-sm-6">
		      <div class="form-group">
				    <input type="text" class="form-control float-label" name="formlanguage" placeholder="Language of presentation">
				  </div>
		    </div>
		  </div>
			<div class="row">
		    <div class="col-sm-6">
		      <div class="form-group">
				    <textarea rows="7" class="form-control float-label" name="formshortdesc" placeholder="Short Abstract"></textarea>
				  </div>
		    </div>
				<div class="col-sm-6">
		      <div class="form-group">
				    <textarea rows="7" class="form-control float-label" name="formfulldesc" placeholder="Full Abstract"></textarea>
				  </div>
		    </div>
		  </div>
			<div class="row">
		    <div class="col-sm-6">
		      <div class="form-group">
						<label class="radio">Type of Presentation</label>
				    <label class="radio-inline"><input type="radio" name="formtype" value="presentation">presentation</label>
						<label class="radio-inline"><input type="radio" name="formtype" value="talk">Lightning talk</label>
						<label class="radio-inline"><input type="radio" name="formtype" value="workshop">Workshop</label>
				  </div>
		    </div>
				<div class="col-sm-6">
		      <div class="form-group">
				    <input type="text" class="form-control float-label" name="formaudience" placeholder="Audience">
				  </div>
		    </div>
		  </div>
			<div class="row">
		    <div class="col-sm-6">
		      <div class="form-group">
				    <input type="text" class="form-control float-label" name="formtags" placeholder="Tags">
				  </div>
		    </div>
				<div class="col-sm-6">
		      <div class="form-group">
				    <input type="text" class="form-control float-label" name="formcode" placeholder="Code level">
				  </div>
		    </div>
		  </div>
			<div class="text-center info-content margin-top-small">
				<button type="submit" class="btn btn-primary btn-lg green blue">Smash this button and send your proposal</button>
			</div>
		</form>
		<div class="steam-separator"></div>
		<div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text">
	        Your submission will be peer reviewed and honestly evaluated based on <span class="accent">originality, content depth and relevance</span> to the conference.
					<br><br>
					If you have any questions related to the submission process be sure to contact us at <span class="yellow">hello@heapspace.rs</span>.
	      </div>
	    </div>
	  </div>
	</div>
	<div class="info-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>

	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>

</body>
</html>
