<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title'%>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html'%>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Code<br><span class="yellow">of conduct</span>
	  </h1>
	  <h4 class="text-center plain">Voxxed Belgrade acknowledges that harassment has been a real, long-standing issue in the tech community.<br>We also acknowledge that the technology sector is not wholly representative of the diverse make-up of our society.</h4>
	  <div class="steam-separator"></div>
		<h4 class="bold text-center margin-top-med">Let us be clear: we don’t condone harassment or offensive behavior, at our conferences or anywhere. It’s counter to our values.</h4>
		<h4 class="text-center plain">More importantly, it’s counter to our values as human beings.</h4>
		<div class="steam-separator"></div>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text">
	        We’re voicing our strong, unequivocal support of appropriate behavior by all participants at technical events, including the Voxxed Belgrade conference. We invite you to help us make every technical conference a place that is welcoming and respectful to all participants, so everyone can focus on the conference itself, the possibilities of technology and the great networking and community richness that can happen when we get together in person.
					<br><br>
					One issue that has come up at some technical conferences is sexual language, sexism and comments prejudice to various religious communities, the LGBTQIA community or people with disabilities. This is not appropriate.
					<br><br>
					Basically, speakers and exhibitors should use good judgment; if we hear complaints and we think they are warranted, you may not be invited back.
					<br><br>
					We’ve heard accounts of attendees having to put up with stalking, offensive comments, and unwanted sexual advances at some conferences. We’d like to adapt a line from the Flickr Community Guidelines, which use the term Creepiness as follows: “You know the person. Don’t be that person.”
					<br><br>
					If we hear that you are that individual, we will investigate and take any action we feel is appropriate, including asking you to leave.
					<br><br>
					Please bring any concerns to the immediate attention of the event staff. Our point people for any issues are Jovana Tomić and Miloš Žikić. However, if, for any reason, you’re not comfortable approaching them then please talk to whichever of our staff or steering committee you feel most comfortable with. You will be listened to and taken seriously.
	      </div>
	    </div>
	  </div>
		<div class="steam-separator"></div>
		<h4 class="text-center plain">
			We thank our attendees for their help in keeping the event welcoming, respectful, and friendly to all participants and we look forward to the day when notices like this are an embarrassing fact of our collective history. As a community, and a species, we should make sure that we continuously strive to improve, both in terms of social interactions & technology.
		</h4>
		<div class="steam-separator"></div>
	</div>
	<div class="info-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>

	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>

</body>
</html>
