<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title'%>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html'%>
	<%
	 @test = ''
	%>
	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Want to know more?<br><span class="yellow">FAQ at its finest</span>
	  </h1>
	  <h4 class="text-center plain">VoxxedDays Belgrade 2016 returns bigger and brighter!<br>We can’t wait to start a new, 3-days round<br>of learning and sharing!</h4>
		<div class="steam-separator"></div>

		<div class="schedule-tabs-holder">
		  <div class="container info-content ">
			  <a class="btn btn-primary btn-lg blue" role="button" href="<%= @test %>/schedule/day1">Day 1</a>
			  <a class="btn btn-primary btn-lg green" role="button" href="<%= @test %>/schedule/day2">Day 2</a>
			  <a class="btn btn-primary btn-lg blue" role="button" href="<%= @test %>/schedule/day3">Day 3</a>
			</div>
		</div>

		<div class="schedule-list">
			<%= render '/_schedule_clock.html', :id => 1 %>
			<div class="abs-holder">
				<div class="row">
					<div class="col-sm-12 col-md-4 col-lg-2 schedule-track">
						<h5 class="track-name">Track 1</h5>
				    <%= render '/_schedule_item.html', :day => 2, :track => 1 %>
				  </div>
				  <div class="col-sm-12 col-md-4 col-lg-2 schedule-track">
						<h5 class="track-name">Track 2</h5>
				    <%= render '/_schedule_item.html', :day => 2, :track => 2 %>
				  </div>
				  <div class="col-sm-12 col-md-4 col-lg-2 schedule-track">
						<h5 class="track-name">Track 3</h5>
				    <%= render '/_schedule_item.html', :day => 2, :track => 3 %>
				  </div>
				  <div class="col-sm-12 col-md-6 col-lg-2 schedule-track">
						<h5 class="track-name">Business track</h5>
				    <%= render '/_schedule_item.html', :day => 2, :track => 4 %>
				  </div>
				  <div class="col-sm-12 col-md-6 col-lg-2 schedule-track">
						<h5 class="track-name">Workshop</h5>
				    <%= render '/_schedule_item.html', :day => 2, :track => 0 %>
				  </div>
				  <div class="col-lg-2 visible-lg schedule-track">
				    &nbsp;
				  </div>
				</div>
			</div>
		</div>

		<div class="steam-separator"></div>
	</div>
	<div class="info-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>

	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
	<script>
		$(window).on('unload', function() {
		   $(window).scrollTop(0);
		});
	</script>
</body>
</html>
