<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title'%>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body data-schedule="true">
	<%= render '/_header.html'%>
	<%

		slots = {
		 1 => [:time => '9:00', :dur => 60],
		 2 => [:time => '10:15', :dur => 60],
		 3 => [:time => '11:30', :dur => 60],
		 4 => [:time => '12:30', :dur => 0],
		 5 => [:time => '13:20', :dur => 60],
		 6 => [:time => '14:30', :dur => 60],
		 7 => [:time => '15:50', :dur => 60],
		 8 => [:time => '17:00', :dur => 60]
		}

		breaks = {
		 1 => [:name => 'coffee break', :dur => 15],
		 2 => [:name => 'coffee break', :dur => 15],
		 3 => [:name => '', :dur => 0],
		 4 => [:name => 'lunch', :dur => 50],
		 5 => [:name => 'coffee break', :dur => 10],
		 6 => [:name => 'break', :dur => 20],
		 7 => [:name => 'coffee break', :dur => 10],
		 8 => [:name => 'chill out', :dur => 60]
		}

	%>
	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Day 3<br><span class="yellow">30. September, 2016</span>
	  </h1>
	  <h4 class="text-center bold">Registration starts at <span class="yellow">7:45</span></h4>
		<h4 class="text-center "><span class="yellow">Note: </span>Current schedule is subject to change</h4>

		<div class="schedule-tabs-holder">
		  <div class="container info-content ">
			  <a class="btn btn-primary btn-lg blue" role="button" href="<%= @test %>/schedule/day1">Day 1</a>
			  <a class="btn btn-primary btn-lg blue" role="button" href="<%= @test %>/schedule/day2">Day 2</a>
			  <a class="btn btn-primary btn-lg green" role="button" href="<%= @test %>/schedule/day3">Day 3</a>
			</div>
		</div>

		<div class="schedule-list">
			<%= render '/_schedule_clock.html' %>
			<div class="abs-holder">
				<div class="row">
					<div class="col-sm-12 col-md-4 col-lg-2 schedule-track">
						<h5 class="track-name track1"><span class="accent day ">Day 3 / </span>Track 1</h5>
				    <%= render '/_schedule_item.html', :day => 3, :track => 1, :slots => slots, :breaks => breaks %>
				  </div>
				  <div class="col-sm-12 col-md-4 col-lg-2 schedule-track">
						<h5 class="track-name track2"><span class="accent day ">Day 3 / </span>Track 2</h5>
				    <%= render '/_schedule_item.html', :day => 3, :track => 2, :slots => slots, :breaks => breaks %>
				  </div>
				  <div class="col-sm-12 col-md-4 col-lg-2 schedule-track">
						<h5 class="track-name track3"><span class="accent day ">Day 3 / </span>Track 3</h5>
				    <%= render '/_schedule_item.html', :day => 3, :track => 3, :slots => slots, :breaks => breaks %>
				  </div>
				  <div class="col-sm-12 col-md-6 col-lg-2 schedule-track">
						<h5 class="track-name track4"><span class="accent day ">Day 3 / </span>Track 4</h5>
				    <%= render '/_schedule_item.html', :day => 3, :track => 4, :slots => slots, :breaks => breaks %>
				  </div>
				  <div class="col-sm-12 col-md-5 col-lg-2 schedule-track">
						<h5 class="track-name track5"><span class="accent day ">Day 3 / </span>Workshop</h5>
				    <%= render '/_schedule_item.html', :day => 3, :track => 0, :slots => slots, :breaks => breaks %>
				  </div>
				</div>
			</div>
		</div>

		<div class="margin-top-med">
		  <div class="container info-content ">
			  <a class="btn btn-primary btn-lg blue" role="button" href="<%= @test %>/schedule/day1">Day 1</a>
			  <a class="btn btn-primary btn-lg blue" role="button" href="<%= @test %>/schedule/day2">Day 2</a>
			  <a class="btn btn-primary btn-lg green" role="button" href="<%= @test %>/schedule/day3">Day 3</a>
			</div>
		</div>

		<div class="steam-separator"></div>
	</div>
	<div class="info-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>

	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>

</body>
</html>
