<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title'%>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body data-schedule="true">
	<%= render '/_header.html'%>
	<%

		date = '30. September, 2016'

		slots = {
		 1 => [:time => '9:00', :dur => 60],
		 2 => [:time => '10:15', :dur => 60],
		 3 => [:time => '11:30', :dur => 60],
		 4 => [:time => '12:30', :dur => 0],
		 5 => [:time => '13:20', :dur => 60],
		 6 => [:time => '14:30', :dur => 60],
		 7 => [:time => '15:50', :dur => 60],
		 8 => [:time => '17:00', :dur => 60]
		}

		breaks = {
		 1 => [:name => 'coffee break', :dur => 15],
		 2 => [:name => 'coffee break', :dur => 15],
		 3 => [:name => '', :dur => 0],
		 4 => [:name => 'lunch', :dur => 50],
		 5 => [:name => 'coffee break', :dur => 10],
		 6 => [:name => 'break', :dur => 20],
		 7 => [:name => 'coffee break', :dur => 10],
		 8 => [:name => 'chill out', :dur => 60]
		}

	%>
	<div class="main-bg page"></div>
	<%= render '/_schedule_list.html', :day => 3, :slots => slots, :breaks => breaks, :date => date %>
	<div class="info-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>

	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>

</body>
</html>
