<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title'%>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html'%>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Want to know more?<br><span class="yellow">FAQ at its finest</span>
	  </h1>
	  <!-- <h4 class="text-center plain">VoxxedDays Belgrade 2016 returns bigger and brighter!<br>We can’t wait to start a new, 3-days round<br>of learning and sharing!</h4> -->

		<h4 class="Yellow text-center"><a href="#q0">I'm a speaker! Any info for me?</a></h4>
		<h4 class="Yellow text-center"><a href="#q1">I'm at the airport, now what?</a></h4>
		<h4 class="Yellow text-center"><a href="#q2">Where to go: The venue location?</a></h4>
		<h4 class="Yellow text-center"><a href="#q21">Any nice hotel you can recommend?</a></h4>
		<h4 class="Yellow text-center"><a href="#q3">How to buy a ticket for public transport?</a></h4>
		<h4 class="Yellow text-center"><a href="#q4">Can I use $ or € in Serbia?</a></h4>
		<h4 class="Yellow text-center"><a href="#q5">Which plug should I bring for all of my beloved devices?</a></h4>
		<h4 class="Yellow text-center"><a href="#q6">Do I have to learn Serbian?</a></h4>
		<h4 class="Yellow text-center"><a href="#q7">Any special requirements I should know about?</a></h4>
		<h4 class="Yellow text-center"><a href="#q8">What are the useful phone numbers?</a></h4>
		<h4 class="Yellow text-center"><a href="#q9">What is the climate in Belgrade?</a></h4>
		<h4 class="Yellow text-center"><a href="#q10">What time zone is Belgrade?</a></h4>
		<h4 class="Yellow text-center"><a href="#q11">Is tap water safe to drink?</a></h4>

		<div id="q1" class="steam-separator"></div>

	  <h2 id="q0" class="text-center">
	    I'm a speaker! Any info for me?
	  </h2>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text">
	      Check out the <a href="/speakers-kit">Speakers Kit</a>!
	    </div>
	  </div>

	  <h2 class="text-center">
	    I'm at the airport, now what?
	  </h2>
	  <div id="q1" class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text">
					<h4>Taxi</h4>
	        For the use of taxi services from Belgrade Nikola Tesla Airport to any destination in Belgrade area and further, please contact the city service TAXI INFO desk, located in the baggage reclaim area. If this one is not working, there is one located immediately after you exit the baggage reclaim area, right next to the exit door.
					<br><br>
					Just be aware NOT taking the taxi from anyone who approaches you – they usually charge much more. Please take a taxi receipt at the information desk – it should state your end destination in Belgrade and the ride price. The price is fixed (1800 dinars for any location in the city center). See more info about the taxi <span class="accent"><a href="http://www.beg.aero/en/strana/8871" target="_blank">here</a></span>.
	      </div>

	      <div class="block-text">
					<h4>Minibus</h4>
	        A1 is the only bus taking passengers right from the Airport to the city center. This bus has a couple of stops before it reaches its final destination, Square Slavija. Slavija is well-connected with the rest of the city and you can use the public transport or a taxi from there.
					<br><br>
					The price for the ride is 150rsd (~1.2 euros).
	      </div>
	    </div>
	  </div>



		<div id="q2" class="steam-separator"></div>
	  <h2 class="text-center">
	    Where to go:<br>The venue location?
	  </h2>
	</div>
	<!-- map -->
	<div class="map-holder">
		<div class="map-info visible-lg">
			<h3 class="yellow">BelExpoCentar</h3><br>
			<h5>Address</h5>
				<span class="brown">Španskih boraca 74A<br>Belgrade, Serbia</span><br><br>
			<h5>Website</h5>
				<a href="http://belexpocentar.rs" target="_blank">belexpocentar.rs</a>
		</div>
		<div id="faqmap" class="map"></div>
	</div>

	<!-- end map -->
	<div class="container">

	  <div id="21" class="steam-separator"></div>
	  <h2 class="text-center">
	    Any nice hotel<br>to recommend?
	  </h2>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text">
	        Check the <a href="/accomodation/">accommodation</a> page. We have some nice offers to share :)
	      </div>
	    </div>
	  </div>

	  <div id="q3" class="steam-separator"></div>
	  <h2 class="text-center">
	    How to buy a ticket<br>for public transport?
	  </h2>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text">
	        There is only one BusPlus ticket for every type of transport. You can buy them at any paper store in the town. They are pre-paid, hence you need to buy a BusPlus card (once) and then fill it up with the amount you want. One ride is 89 dinars, so you can fill it up with e.g. 500din if you plan to use it!.
	      </div>
	    </div>
	  </div>

		<div id="q4" class="steam-separator"></div>
	  <h2 class="text-center">
	    Can I use $ or € in Serbia?
	  </h2>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text">
	        No. The official currency in Serbia is Serbia Dinar (RSD). <span class="yellow"><a href="http://www.xe.com/currencyconverter/convert/?Amount=1&From=EUR&To=RSD" target="_blank">Click here for currency rate</a></span>. You can find many ATMs and Currency Exchange offices in the city center. <br>
					Cash may be taken from ATMs installed in all major malls, bank offices and in public places 24/7/365. Foreign currency can be exchanged in numerous banks and exchange offices.
	      </div>
	    </div>
	  </div>

		<div id="q5" class="steam-separator"></div>
	  <h2 class="text-center">
	    Which plug should I bring<br>for all of my beloved devices?
	  </h2>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text">
	        Nominal voltage is 220V and frequency of the current is 50Hz. Type C is the common type of plug.
	      </div>
	    </div>
	  </div>

		<div id="q6" class="steam-separator"></div>
	  <h2 class="text-center">
	    Do I have to learn Serbian?
	  </h2>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text">
	        The official conference language is English. But if you are interested, we could help you with some Serbian slang. ;)
	      </div>
	    </div>
	  </div>

		<div id="q7" class="steam-separator"></div>
	  <h2 class="text-center">Any special requirements I should know about?</h2>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text text-center">
	        Check out our <span class="yellow"><a href="/code-of-conduct/">Code of Conduct</a></span>.
	      </div>
	    </div>
	  </div>

		<div id="q8" class="steam-separator"></div>
	  <h2 class="text-center">What are the useful phone numbers?</h2>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text text-center">
					Police 192 <br>
					Fire Department 193 <br>
					Ambulance 194 <br>
					AMSS help on the road 1987 <br>
	      </div>
	    </div>
	  </div>

		<div id="q9" class="steam-separator"></div>
	  <h2 class="text-center">What is the climate in Belgrade?</h2>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text text-center">
					Belgrade has a moderate continental climate. The weather in May and June is warm with daily temperatures from around 11°C (mean minimum temperature) to around 25°C (mean maximum temperature), with the chance of rain and wind.
	      </div>
	    </div>
	  </div>

		<div id="q10" class="steam-separator"></div>
	  <h2 class="text-center">What time zone is Belgrade?</h2>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text text-center">
					Belgrade lies in the Central European time zone – CET so our local time is UTC/GMT+1 hour. <br>
					Because of daylight savings from end-March to end-October the time is GMT + 2 hrs.
				</div>
	    </div>
	  </div>

		<div id="q11" class="steam-separator"></div>
	  <h2 class="text-center">Is tap water safe to drink?</h2>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text text-center">
					Tap water is safe to drink.
				</div>
	    </div>
	  </div>

	</div>
	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>

	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
	<%= map_on_page('/faq-and-notes/', 'faqmap', '44.809871', '20.413875', 'map-pin-vdb.png') %>
</body>
</html>
