<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title'%>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html'%>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-med">
	    Sorry!<br><span class="yellow">Something went wrong</span>
	  </h1>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text text-center">
	        <h3>Please, <span class="accent"><a href="/<%= @item[:backurl] %>/">try again</a></span>.</h3>
					<br><br>
					If you have any questions related to the submission process be sure to contact us at <span class="yellow">hello@heapspace.rs</span>.
	      </div>
	    </div>
	  </div>
	</div>

	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
</body>
</html>
