<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title'%>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html'%>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    #VDB16<br><span class="yellow">Day 2</span>
	  </h1>
	  <!-- <h4 class="text-center plain">VoxxedDays Belgrade 2016 returns bigger and brighter!<br>We can’t wait to start a new, 3-days round<br>of learning and sharing!</h4> -->

	  <div id="flickrembed"></div>

	</div>
	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html', :template => 'contact' %>
	</div>
	<%= render '/_footer.html'%>
	<script src="https://flickrembed.com/embed_v2.js.php?source=flickr&layout=responsive&input=72157673307554472&sort=2&by=album&theme=default_notextpanel&scale=fit&skin=alexis&id=57f3b1103fd83"></script>
	<%= render '/_bottomscripts.html'%>
</body>
</html>
