<!DOCTYPE html>
	<html>
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<title>get voxxed</title>
			<link rel="shortcut icon" href="favicon.ico">
			<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="style.css"/>
		</head>
		<body>
			<h1>Get Voxxed</h1>

			<!--img id="title" src="i/elfie.png" alt="elfie"/-->

			<div class="wrapper" id="mycam">
			</div>

			<div id="tweet-wrapper">
				<p>Share your Voxxed on Twitter...</p>
				<textarea id="tweetText" maxlength="94">I just got Voxxed! You can too!</textarea>
				<button id="tweet">Tweet your Voxxed experience</button>
				<textarea readonly>@VoxxedBelgrade #vdb16</textarea>
			</div>

			<button id="up" href="#">UP</button>
			<button id="down" href="#">DOWN</button>
			<button id="left" href="#">LEFT</button>
			<button id="right" href="#">RIGHT</button>
			<button id="next" href="#">NEXT</button>
			<button id="plus" href="#">+</button>
			<button id="minus" href="#">-</button>

			<br><br><br><br>
			<button class="btn" id="snap">Snap Your PHOTO</button>

			<script src="scripts/webcam.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<script src="scripts/oauth.js"></script>
			<script src="scripts/vdb.js"></script>
	</body>
</html>
</html>
