<!DOCTYPE html>
	<html>
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<title>get voxxed</title>
			<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE" crossorigin="anonymous">
			<link rel="shortcut icon" href="favicon.ico">
			<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="style.css"/>
		</head>
		<body>
			<h1>
				Join <b>#BalkanCodeInAction</b>!<br>
				Drag, snap and <b>share</b> your action on social media!
			</h1>

			<div class="w">
				<div id="controls">
					<button id="next" href="#"><i class="fa fa-hand-o-right"></i></button>
					<button id="plus" href="#"><i class="fa fa-search-plus"></i></button>
					<button id="minus" href="#"><i class="fa fa-search-minus"></i></button>
				</div>
			</div>
			<div class="wrapper" id="mycam">
			</div>

			<a href="#" id="shareFB">
				FACEBOOK
			</a>

			<div id="tweet-wrapper">
				<p>Share your Voxxed photo on Twitter...</p>
				<textarea id="tweetText" readonly>#BalkanCodeInAction! Join the crew! @VoxxedBelgrade #vdb16</textarea>
				<button id="tweet">Tweet!</button>
			</div>

			<br><br>
			<button class="btn" id="snap">Snap Your PHOTO</button>

			<script src="scripts/webcam.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<script src="scripts/oauth.js"></script>
			<script src="scripts/vdb.js"></script>
	</body>
</html>
</html>
