<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => "VDB 2016" %>
	<%= meta_share %>
</head>
<body data-cepelin="true">
	<div class="main-bg home"></div>
	<%= render '/_header.html'%>
	<div class="container">
		<div id="home-mainscreen-holder" class="container">
			<div class="row row-centered flex">
		    <div class="col-sm-8 col-centered">
					<div class="home-logo"></div>
					<h2 id="home-main-text" class="text-center">
						Balkan's Most Inspiring<br><span class="yellow">Technology &amp; Entrepreneurship</span><br>Conference
					</h2>
					<h2 class="yellow home-date-place bold text-center">
				    Thanks for being a part of Voxxed Days Belgrade 2016!
				  </h2>
				</div>
				<div class="row-centered">
					<div class="col-sm-8 col-centered margin-top-small home-main-buttons">
						<h3 id="home-main-text" class="accent text-center">
							VDB16 conference videos:
						</h3>
						<a href="https://www.youtube.com/channel/UCCuk9PF9aVcPOSsVwDzyrRQ/videos" class="btn btn-primary btn-lg red home-top full" role="button"><i class="fa fa-youtube-play"></i> all videos by day and track</a>
					</div>
				</div>
				<div class="col-sm-8 col-centered">
					<h4 class="text-center button-text">
						3 full days, <span class="yellow">4 tracks</span>, <span class="yellow">800+</span> awesome participants.
						Exciting <span class="yellow">speakers</span>, groundbreaking talks, and <span class="yellow">workshops</span>!
					</h4>
				</div>
			</div>
		</div>
		<div class="steam-separator first_sep"></div>
		<h2 class="text-center">
			<span class="yellow">Tweets</span> <span class="accent">from #VDB16</span>
		</h2>
		<div id="tweetslider">
			<div class="">
				<blockquote class="twitter-tweet" data-theme="dark" data-link-color="#efc231" data-chrome="noborders noscrollbar transparent" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">Another Amazing Day in Belgrade, <a href="https://twitter.com/hashtag/Serbia?src=hash">#Serbia</a>: Some of the Best Minds &amp; Warmest People in the World. <a href="https://twitter.com/hashtag/InternetOfThings?src=hash">#InternetOfThings</a> <a href="https://twitter.com/hashtag/entrepreneur?src=hash">#entrepreneur</a> <a href="https://twitter.com/hashtag/vdb16?src=hash">#vdb16</a> </p>&mdash; Scott Amyx (@AmyxIoT) <a href="https://twitter.com/AmyxIoT/status/781935495341346816">September 30, 2016</a></blockquote>
			</div>
			<div class="">
				<blockquote class="twitter-tweet" data-theme="dark" data-link-color="#efc231" data-chrome="noborders noscrollbar transparent" data-lang="en"><p lang="en" dir="ltr">Best <a href="https://twitter.com/hashtag/conference?src=hash">#conference</a> speaker <a href="https://twitter.com/hashtag/goodies?src=hash">#goodies</a> so far goes to <a href="https://twitter.com/VoxxedBelgrade">@VoxxedBelgrade</a>: good-quality backpack and tourist guide to Serbia <a href="https://twitter.com/hashtag/vdb16?src=hash">#vdb16</a> <a href="https://twitter.com/hashtag/useful?src=hash">#useful</a>
				</p>&mdash; Nicolas Frankel (@nicolas_frankel) <a href="https://twitter.com/nicolas_frankel/status/782903616113958912">October 3, 2016</a></blockquote>
			</div>
		  <div class="">
				<blockquote class="twitter-tweet" data-theme="dark" data-link-color="#efc231" data-chrome="noborders noscrollbar transparent" data-lang="en"><p lang="en" dir="ltr">Another amazing year in an amazing city. Thanks so much! <a href="https://twitter.com/hashtag/vdb16?src=hash">#vdb16</a></p>&mdash; Chris Chinchilla (@ChrisChinch) <a href="https://twitter.com/ChrisChinch/status/782127548897628161">October 1, 2016</a></blockquote>
			</div>
		  <div class="">
				<blockquote class="twitter-tweet" data-theme="dark" data-link-color="#efc231" data-chrome="noborders noscrollbar transparent" data-lang="en"><p lang="en" dir="ltr">Leaving Belgrade after <a href="https://twitter.com/VoxxedBelgrade">@VoxxedBelgrade</a>. It was great time, hope to see you next year :)</p>&mdash; Maciek Próchniak (@mpproch) <a href="https://twitter.com/mpproch/status/782197134670098434">October 1, 2016</a></blockquote>
			</div>
			<div class="">
				<blockquote class="twitter-tweet" data-theme="dark" data-link-color="#efc231" data-chrome="noborders noscrollbar transparent" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">It has been a pleasure to be part of <a href="https://twitter.com/VoxxedBelgrade">@VoxxedBelgrade</a>. Great audience, great people, great organization! hope to see you next year :) <a href="https://twitter.com/hashtag/vdb16?src=hash">#vdb16</a> <a href="https://t.co/McdPHUbJgU">pic.twitter.com/McdPHUbJgU</a></p>&mdash; david pichsenmeister (@3x14159265) <a href="https://twitter.com/3x14159265/status/782632934645915648">October 2, 2016</a></blockquote>
			</div>
		  <div class="">
				<blockquote class="twitter-tweet" data-theme="dark" data-link-color="#efc231" data-chrome="noborders noscrollbar transparent" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/VoxxedBelgrade">@VoxxedBelgrade</a> Thank you <a href="https://twitter.com/VoxxedBelgrade">@VoxxedBelgrade</a>. What a nice conference, nice location and interesting talks and conversations! See you next year!</p>&mdash; Marko Marusic (@mmarusic01) <a href="https://twitter.com/mmarusic01/status/782187132894973952">October 1, 2016</a></blockquote>
			</div>
			<div class="">
				<blockquote class="twitter-tweet" data-theme="dark" data-link-color="#efc231" data-chrome="noborders noscrollbar transparent" data-lang="en"><p lang="en" dir="ltr">The organization was stellar, with attention to detail and an organizing committee that was always available with a big smile <a href="https://twitter.com/hashtag/vdb16?src=hash">#vdb16</a></p>&mdash; Antonis Kalipetis (@akalipetis) <a href="https://twitter.com/akalipetis/status/782161329268396032">October 1, 2016</a></blockquote>
			</div>
			<div class="">
				<blockquote class="twitter-tweet" data-theme="dark" data-link-color="#efc231" data-chrome="noborders noscrollbar transparent" data-lang="en"><p lang="en" dir="ltr">Leaving Belgrade after 3 days of inspiring and useful talks <a href="https://twitter.com/VoxxedBelgrade">@VoxxedBelgrade</a> really great to be part of <a href="https://twitter.com/hashtag/vdb16?src=hash">#vdb16</a></p>&mdash; Liviu Costea (@clm160) <a href="https://twitter.com/clm160/status/782135896216834048">October 1, 2016</a></blockquote>
			</div>
			<div class="">
				<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thanks <a href="https://twitter.com/VoxxedBelgrade">@VoxxedBelgrade</a> for an amazing conference. Brilliant organisation, lovely people and awesome design work. See you next year! <a href="https://twitter.com/hashtag/vdb16?src=hash">#vdb16</a></p>&mdash; Gustavo Elias (@archtavo) <a href="https://twitter.com/archtavo/status/781875227328389120">September 30, 2016</a></blockquote>
			</div>
			<div class="">
				<blockquote class="twitter-tweet" data-theme="dark" data-link-color="#efc231" data-chrome="noborders noscrollbar transparent" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/vdb16?src=hash">#vdb16</a> has been the best conference, I have been so far. Thanks to all of you for organising <a href="https://twitter.com/hashtag/VoxxedDaysBelgrade?src=hash">#VoxxedDaysBelgrade</a> so well!</p>&mdash; Alexander Pacha (@PachaAlexander) <a href="https://twitter.com/PachaAlexander/status/781926783478267904">September 30, 2016</a></blockquote>
			</div>
		</div>
		<div id="slidernav" class="text-center"></div>
		<div class="steam-separator first_sep"></div>
		<h2 class="text-center">
			Check our <span class="yellow">photo gallery</span>
		</h2>
		<div class="row-centered">
			<div class="col-sm-3 col-centered">
				<div class="block-text text-center">
					<a href="/day1/"><div class="gallery-intro day1"></div></a>
				</div>
				<h2 class="text-center">
					Day 1
				</h2>
			</div>
			<div class="col-sm-3 col-centered">
				<div class="block-text text-center">
					<a href="/day2/"><div class="gallery-intro day2"></div></a>
				</div>
				<h2 class="text-center">
					Day 2
				</h2>
			</div>
			<div class="col-sm-3 col-centered">
				<div class="block-text text-center">
					<a href="/day3/"><div class="gallery-intro day3"></div></a>
				</div>
				<h2 class="text-center">
					Day 3
				</h2>
			</div>
		</div>

		<div class="steam-separator first_sep"></div>

		<div id="cepelin-trigger" class="home-block-grid logos container margin-top-big">
			<div class="block-grid-xs-2 block-grid-md-4 block-grid-lg-10">
				<div class="item-block-holder text-center">
					<span class="devicons devicons-java big"></span>
					<h5 class="yellow text-center">Java</h5>
				</div>
				<div class="item-block-holder text-center">
					<span class="devicons devicons-scala big"></span>
					<h5 class="yellow text-center">Scala</h5>
				</div>
				<div class="item-block-holder text-center">
					<span class="devicons devicons-react big"></span>
					<h5 class="yellow text-center">React</h5>
				</div>
				<div class="item-block-holder text-center">
					<span class="devicons devicons-docker big"></span>
					<h5 class="yellow text-center">Docker</h5>
				</div>
				<div class="item-block-holder text-center">
					<span class="devicons devicons-python big"></span>
					<h5 class="yellow text-center">Python</h5>
				</div>
				<div class="item-block-holder text-center">
					<span class="devicons devicons-haskell big"></span>
					<h5 class="yellow text-center">Haskell</h5>
				</div>
				<div class="item-block-holder text-center">
					<span class="devicons devicons-android big"></span>
					<h5 class="yellow text-center">Android</h5>
				</div>
				<div class="item-block-holder text-center">
					<span class="devicons devicons-ruby big"></span>
					<h5 class="yellow text-center">Ruby</h5>
				</div>
				<div class="item-block-holder text-center">
					<span class="devicons devicons-javascript big"></span>
					<h5 class="yellow text-center">JavaScript</h5>
				</div>
				<div class="item-block-holder text-center">
					<span class="devicons devicons-clojure big"></span>
					<h5 class="yellow text-center">Clojure</h5>
				</div>
			</div>
		</div>
		<div class="home-block-grid logos container">
			<div class="block-grid-xs-1 block-grid-sm-2 block-grid-md-4 block-grid-lg-6">
				<div class="item-block-holder logo text-center">
					<span class="amyxlogo">Amyx</span>
				</div>
				<div class="item-block-holder logo text-center">
					<img width="100%" src="images/companies/google.svg" />
				</div>
				<div class="item-block-holder logo text-center">
					<img width="100%" src="images/companies/ibm.svg" />
				</div>
				<div class="item-block-holder logo text-center">
					<img width="100%" src="images/companies/RedHat.svg" />
				</div>
				<div class="item-block-holder logo text-center">
					<img width="100%" src="images/companies/sap.svg" />
				</div>
				<div class="item-block-holder logo pp text-center">
					<img width="100%" src="images/companies/pixar.svg" />
				</div>
				<div class="item-block-holder logo text-center">
					<img width="100%" src="images/companies/Atlassian.svg" />
				</div>
				<div class="item-block-holder logo text-center">
					<img width="100%" src="images/companies/cloudbees.svg" />
				</div>
				<div class="item-block-holder logo text-center">
					<img width="100%" src="images/companies/amazon.svg" />
				</div>
				<div class="item-block-holder logo text-center">
					<img width="100%" src="images/companies/pivotal.svg" />
				</div>
				<div class="item-block-holder logo text-center">
					<img width="100%" src="images/companies/JetBrains.svg" />
				</div>
				<div class="item-block-holder logo limit-35 text-center">
					<img width="100%" src="images/companies/zalando.svg" />
				</div>
			</div>
		</div>

		<div class="steam-separator first_sep"></div>
		<div class="row-centered">
	    <div class="col-sm-8 col-centered">
				<h2 class="text-center">
			    Speakers' <span class="yellow">Spotlight</span>
			  </h2>
	      <div class="block-text text-center">
	        Here's <span class="accent">a sneak peek of what you can expect</span> this year!
	      </div>
	    </div>
	  </div>

		<div class="row-centered margin-top-med">
	    <div class="col-xs-10 col-sm-3 col-md-2 col-lg-2 col-centered">
				<div class="speaker">
					<div class="photo-frame">
						<div style="background-image: url('/images/speakers/scott-amyx.jpg');"></div>
					</div>
				</div>
	      <!-- <div class="speaker-holder">
					<img class="frame" src="images/speaker-frame-small.svg" />
					<div class="speaker-img">
							<img src="images/speakers/scott-amyx.jpg" data-hover="images/speakers/scott-amyx-h.jpg" />
					</div>
	      </div> -->
			</div>
			<div class="col-xs-10 col-sm-9 col-md-6 col-lg-4 col-centered">
				<div class="block-item speaker">
					<h3 class="bold plain">Scott Amyx</h3>
					CEO &nbsp;&nbsp; <span class="yellow">Amyx+McKinsey</span><br />
					Voted one of the Top 10 Global Speakers
				</div>
	    </div>
	  </div>

		<div id="feat-speak" class="row-centered margin-top-small">
		  <%
		  get_featured_speakers(['Amazon', 'IBM', 'Google', 'Atlassian', 'Pivotal', 'JetBrains', 'Red Hat', 'SAP', 'Zalando', 'CloudBees']).each do |s|
		  %>
		  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-centered speaker-home">
		      <div class="speaker">
		              <div class="photo home" style="background-image: url('../images/speakers/<%= s['photo'] %>')"></div>
		              <h5 class="yellow">
		                  <%= s['firstname'] %> <%= s['lastname'] %>
		              </h5>
		          <h6 class="accent mb10">
		              <%= s['company'] %>
		          </h6>
		      </div>
		  </div>
		  <%
		  end
		  %>
		</div>
		<div class="info-content margin-top-small">
			<a href="/speakers/" class="btn btn-primary btn-lg green" role="button">All Speakers</a>
		</div>

		<div class="steam-separator"></div>

		<h2 class="text-center margin-top-small">
	    This Year <span class="yellow">Schedule</span>
	  </h2>
		<h4 class="text-center "><span class="yellow">Note: </span>Current schedule is subject to change</h4>

		<div class="margin-top-small">
		  <div class="container info-content">
			  <a class="btn btn-primary btn-lg blue" role="button" href="/schedule/day1">Day 1 / 28. Sep</a>
			  <a class="btn btn-primary btn-lg blue" role="button" href="/schedule/day2">Day 2 / 29. Sep</a>
			  <a class="btn btn-primary btn-lg blue" role="button" href="/schedule/day3">Day 3 / 30. Sep</a>
			</div>
			<div>
				&nbsp;
			</div>
		</div>
		<!-- <div class="home-block-grid container">
			<div id="speakers" class="row-centered">

				<div class="tagsort-tags-container"></div>
				<div class="reset-holder">
						<div class="tags-reset false-btn red">clear tags</div>
				</div>
				<div class="margin-top-small"></div>
				<%

				@item[:speakers].to_a.each { |s|
					if !s[:firstname].to_s.empty? && !s[:lastname].to_s.empty?
				%>
				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-centered speaker-tags" data-item-tags="<%= s[:tags].to_a.join(', ') %>">
		      <div class="speaker">
						<% if !s[:pageurl].to_s.empty? then %><a href="/speakers/<%= s[:pageurl] %>/"><% end %>
							<div class="photo" style="background-image: url('../images/speakers/<%= s[:photo] %>')"></div>
							<h5 class="yellow">
								<%= s[:firstname] %> <%= s[:lastname] %>
							</h5>
						<% if !s[:pageurl].to_s.empty? then %></a><% end %>
						<h6 class="company">
							<%= s[:company] %>
						</h6>
						<div class="brown">
							<%
							if !s[:talk].to_s.empty?
								s[:talk].each { |talk|
									speaker_talks = @item[:talks].select{ |item| item[:tid] == talk.to_i }
									speaker_talks.each do |t|
									%>
			              <div class="single-talk">
			                <% if t[:type] == 'talk' %>
			                <i class="fa fa-microphone yellow"></i>
			                <% end %>
			                <% if t[:type] == 'workshop' %>
			                <i class="fa fa-wrench yellow"></i>
			                <% end %>
			                <% if t[:type] == 'lightning' %>
			                <i class="fa fa-bolt yellow"></i>
			                <% end %>
			                <a href="/talk/<%= t[:tid] %>/"><span class="brown"><%= t[:title] %></span></a>
			              </div>
			            <%
									end
								}
							end
							%>
						</div>
						<div class="tags">
							<%  s[:tags].to_a.each do |tag| %>
								<span class="tag">
										<%= tag %>
								</span>
							<% end %>
						</div>
		      </div>
		    </div>
				<%
					end
				}
				%>

		  </div>
		</div> -->
		<%= render '/sponsors-logos.html' %>
		<div class="steam-separator"></div>
	</div>
	<div class="footer-cta-block home">
		<div class="container info-content ">
			<a href="/tickets/" class="btn btn-primary btn-lg green" role="button">Get my tickets</a>
			<a href="/info/" class="btn btn-primary btn-lg blue" role="button">Need more info</a>
		</div>
	</div>
	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
	<script>
	$(function() {
		var divs = $(".speaker-home").get().sort(function(){
      return Math.round(Math.random())-0.5; //random so we get the right +/- combo
    }).slice(0,5);
    $(divs).appendTo(divs[0].parentNode).css('display', 'inline-block');
	});
	</script>
	<div class="cepelin visible-lg">
	  <img src="/images/cepelin.svg" />
	</div>
</body>
</html>
