<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => "VDB 2016" %>
	<%= meta_share %>
</head>
<body>
	<div class="main-bg home"></div>
	<%= render '/_header.html'%>
	<div class="container">
		<div id="home-mainscreen-holder" class="container">
			<div class="row row-centered flex">
		    <div class="col-sm-8 col-centered">
					<div class="home-logo"></div>
					<h2 id="home-main-text" class="text-center">
						Balkan's Most Inspiring Community <br> <span class="yellow">Technology &amp;<br>Entrepreneurship Conference</span>
					</h2>
					<h3 class="home-date-place bold text-center">
				    Bel Expo Centar<br/><span class="yellow">28-30th September 2016</span>
				  </h3>
					<a href='/tickets'><div class="block-item latest green margin-top-small">
		        <h2><span class="yellow">#VDB16</span></h2>
						Get your ticket today!
		    	</div></a>
				</div>
			</div>
			<div class="scroll-indicator hidden-sm hidden-xs">
				<span class="mouse">
					<span class="mouse-movement">
					</span>
				</span>
			</div>
		</div>

		<div class="steam-separator first_sep"></div>
		<h3 class="text-center">
			VoxxedDays Belgrade 2016<br><span class="yellow">proudly presents</span>
		</h3>
		<div class="home-block-grid logos container margin-top-big">
			<div class="block-grid-xs-2 block-grid-sm-2 block-grid-md-4 block-grid-lg-6">
				<div class="item-block-holder text-center">
					<span class="devicons devicons-java big"></span>
					<h5 class="yellow text-center">Java</h5>
				</div>
				<div class="item-block-holder text-center">
					<span class="devicons devicons-scala big"></span>
					<h5 class="yellow text-center">Scala</h5>
				</div>
				<div class="item-block-holder text-center">
					<span class="devicons devicons-react big"></span>
					<h5 class="yellow text-center">React</h5>
				</div>
				<div class="item-block-holder text-center">
					<span class="devicons devicons-docker big"></span>
					<h5 class="yellow text-center">Docker</h5>
				</div>
				<div class="item-block-holder text-center">
					<span class="devicons devicons-python big"></span>
					<h5 class="yellow text-center">Python</h5>
				</div>
				<div class="item-block-holder text-center">
					<span class="devicons devicons-haskell big"></span>
					<h5 class="yellow text-center">Haskell</h5>
				</div>
			</div>
		</div>
		<div class="home-block-grid logos container">
			<div class="home-block-grid logos container">
			<div class="block-grid-xs-1 block-grid-sm-2 block-grid-md-4 block-grid-lg-6">
				<div class="item-block-holder logo text-center" style="
    top: 65px;
    left: 105px;
">
					<span class="amyxlogo">Amyx</span>
				</div>
				<div class="item-block-holder logo text-center" style="
    top: 15px;
    left: 95px;
">
					<img width="100%" src="images/companies/Amazon.svg" style="
    /* top: 15px; */
">
				</div>
				<div class="item-block-holder logo text-center" style="
    bottom: 45px;
">
					<img width="100%" src="images/companies/indiegogo.svg">
				</div>
				<div class="item-block-holder logo text-center" style="
    bottom: 45px;
">
					<img width="100%" src="images/companies/RedHat.svg">
				</div>
				<div class="item-block-holder logo text-center" style="
    top: 15px;
    right: 95px;
">
					<img width="100%" src="images/companies/SAP.svg">
				</div>
				<div class="item-block-holder logo text-center" style="
    top: 65px;
    right: 105px;
">
					<img width="100%" src="images/companies/Google.svg">
				</div>
				<div class="item-block-holder logo text-center" style="
    top: 20px;
    left: 40px;
">
					<img width="100%" src="images/companies/IBM.svg">
				</div>
				<div class="item-block-holder logo text-center" style="
    top: 35px;
    left: 70px;
">
					<img width="100%" src="images/companies/Atlassian.svg">
				</div>
				<div class="item-block-holder logo text-center" style="
    bottom: 35px;
">
					<img width="100%" src="images/companies/cloudbees.svg">
				</div>
				<div class="item-block-holder logo text-center" style="
    bottom: 25px;
">
					<img width="100%" src="images/companies/pivotal.svg">
				</div>
				<div class="item-block-holder logo text-center" style="
    top: 35px;
    right: 65px;
">
					<img width="100%" src="images/companies/JetBrains.svg">
				</div>
				<div class="item-block-holder logo limit-35 text-center" style="
    top: 20px;
    right: 40px;
">
					<img width="100%" src="images/companies/Zalando.svg">
				</div>
			</div>
		</div>
		</div>
		<div class="steam-separator"></div>
		<div class="row-centered margin-top-med">
	    <div class="col-xs-10 col-sm-3 col-md-2 col-centered">
	      <div class="speaker-holder">
					<img class="frame" src="images/speaker-frame-small.svg" />
					<div class="speaker-img">
							<img src="images/speakers/scott-amyx.jpg" data-hover="images/speakers/scott-amyx-h.jpg" />
					</div>
	      </div>
	    </div>
			<div class="col-xs-10 col-sm-9 col-md-4 col-centered">
				<div class="block-item speaker">
					<h3 class="bold plain">Scott Amyx</h3>
					CEO &nbsp;&nbsp; <span class="yellow">Amyx+McKinsey</span><br />
					Voted one of the Top 10 Global Speakers
				</div>
	    </div>
	  </div>
		<div class="home-block-grid container">
			<div id="speakers" class="row-centered">

				<div class="tagsort-tags-container"></div>
				<div class="reset-holder">
						<div class="tags-reset false-btn red">clear tags</div>
				</div>
				<div class="margin-top-small"></div>
				<%
				@item[:speakers].to_a.each { |s|
					if !s[:firstname].to_s.empty? && !s[:lastname].to_s.empty?
				%>
				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-centered speaker-tags" data-item-tags="<%= s[:tags].to_a.join(', ') %>">
		      <div class="speaker">
						<% if !s[:pageurl].to_s.empty? then %><a href="/speakers/<%= s[:pageurl] %>/"><% end %>
							<div class="photo" style="background-image: url('../images/speakers/<%= s[:photo] %>')"></div>
							<h5 class="yellow">
								<%= s[:firstname] %> <%= s[:lastname] %>
							</h5>
						<% if !s[:pageurl].to_s.empty? then %></a><% end %>
						<h6 class="company">
							<%= s[:company] %>
						</h6>
						<div class="brown">
							<%
							s[:talk].to_a.each { |t|
							if !t[:title].to_s.empty? && !t[:type].to_s.empty?
							%>
								<div class="single-talk">
									<% if t[:type] == 'talk' %>
									<i class="fa fa-microphone yellow"></i>
									<% end %>
									<% if t[:type] == 'workshop' %>
									<i class="fa fa-wrench yellow"></i>
									<% end %>
									<% if t[:type] == 'lightning' %>
									<i class="fa fa-bolt yellow"></i>
									<% end %>
									<a href="/talk/<%= t[:tid] %>/"><span class="brown"><%= t[:title] %></span></a>
								</div>
							<%
								end
							}
							%>
						</div>
						<div class="tags">
							<%  s[:tags].to_a.each do |tag| %>
								<span class="tag">
										<%= tag %>
								</span>
							<% end %>
						</div>
		      </div>
		    </div>
				<%
					end
				}
				%>

		  </div>
		</div>
		<%= render '/sponsors-logos.html' %>
		<div class="steam-separator"></div>
	</div>
	<div class="footer-cta-block home">
		<div class="container info-content ">
			<a href="/tickets/" class="btn btn-primary btn-lg green" role="button">Get my tickets</a>
			<a href="/info/" class="btn btn-primary btn-lg blue" role="button">Need more info</a>
		</div>
	</div>
	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
	<script>
	$(function() {
		var divs = $(".speaker-home").get().sort(function(){
      return Math.round(Math.random())-0.5; //random so we get the right +/- combo
    }).slice(0,5);
    $(divs).appendTo(divs[0].parentNode).css('display', 'inline-block');
	});
	</script>
</body>
</html>
