<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => "VDB 2016" %>
	<%= meta_share %>
</head>
<body>
	<div class="main-bg home"></div>
	<%= render '/_header.html'%>
	<div class="container">
		<div id="home-mainscreen-holder" class="container">
			<div class="row row-centered flex">
		    <div class="col-sm-8 col-centered">
					<div class="home-logo "></div>
					<h2 class="home-date-place text-center">
				    Bel Expo Centar<br><span class="yellow">28-30th September 2016</span>
				  </h2>
				</div>
			</div>
			<div class="scroll-indicator hidden-sm hidden-xs">
				<span class="mouse">
					<span class="mouse-movement">
					</span>
				</span>
			</div>
		</div>
		<h2 id="home-main-text" class="text-center">
			Balkan's Most Inspiring<br><span class="yellow">Community Technology &</span><br>Entrepreneurship Conference
		</h2>
		<div class="steam-separator"></div>
		<div class="home-block-grid container">
			<div class="block-grid-xs-1 block-grid-lg-2">
		    <div class="item-block-holder">
					<div class="block-item">
		        Super <span class="accent">committed</span> to share<br>the <span class="accent">excellence</span>.
		    	</div>
				</div>
				<div class="item-block-holder">
			    <div class="block-item">
			        3 full days, <span class="accent">4 tracks</span>,<br><span class="accent">800+</span> awesome participants.
			    </div>
				</div>
				<div class="item-block-holder">
			    <div class="block-item">
			        <span class="accent">Fun</span> is the side effect and<br>already <span class="accent">confirmed fact</span>.
			    </div>
				</div>
				<div class="item-block-holder">
			    <div class="block-item">
			        Exciting <span class="accent">speakers</span>, groundbreaking<br>talks, and <span class="accent">workshops</span>!
			    </div>
				</div>
			</div>
			<div class="home-circle-logo hidden-sm hidden-xs"><img src="/images/vx_logo_small_mono.png"></div>
		</div>
		<div class="steam-separator"></div>
		<h2 class="text-center">
	    Speakers' <span class="yellow">Spotlight</span>
	  </h2>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text text-center">
	        Here's <span class="accent">a sneak peak of what you can expect</span> this year!
	      </div>
	    </div>
	  </div>
		<div class="row-centered margin-top-med">
	    <div class="col-xs-10 col-md-4 col-centered">
	      <div class="speaker-holder">
					<img class="frame" src="images/speaker-frame.svg" />
					<div class="speaker-img">
							<img src="images/speakers/scott-amyx.jpg" data-hover="images/speakers/scott-amyx-h.jpg" />
					</div>
	      </div>
	    </div>
			<div class="col-xs-10 col-md-8 col-centered">
				<div class="block-item speaker">
					<h3 class="bold plain">Scott Amyx</h3>
					CEO &nbsp;&nbsp; <span class="yellow">Amyx+McKinsey</span>
				</div>
	      <div class="block-text">
	        Scot Amyx is the CEO of <span class="accent">Amyx+McKinsey</span>. He is a thought leader in wearables and the Internet of Things, and industry member of <span class="accent">AllSeen Alliance</span>, writes for <span class="accent">Wired, InformationWeek, IEEE, Wearable Technologies</span>, and speaks at global conferences. Previously, as VP of Product Management, Scott helped the company be acquired by a Fortune 500 publicly traded company. Scott has a MPP from the <span class="accent">University of Chicago</span> and is a national Woodrow Wilson / Sloan Fellow.
	      </div>
	    </div>
	  </div>
		<div class="row-centered margin-top-med">
	    <div class="col-xs-10 col-md-4 col-centered">
	      <div class="speaker-holder">
					<img class="frame" src="images/speaker-frame.svg" />
					<div class="speaker-img">
							<img src="images/speakers/John Vaskis.jpg" data-hover="images/speakers/John Vaskis h.jpg" />
					</div>
	      </div>
	    </div>
			<div class="col-xs-10 col-md-8 col-centered">
				<div class="block-item speaker">
					<h3 class="bold plain">John Vaskis</h3>
					Senior Director of Hardware Outreach and Head of Partnerships at <span class="yellow">Indiegogo</span>
				</div>
	      <div class="block-text">
					John Vaskis is the Senior Director of Hardware at <span class="yellow">Indiegogo</span> where he works closely with hardware to build go to market strategies for their product launches and beyond. He has worked over a dozen million dollar campaigns across all vertical..<br><br>
					Previously John worked at <span class="accent">Oberon Media</span> a white label digital distribution channel that included AOL, MSN Yahoo and Orange. John headed up a team that managed relationships for over 350 game developers including Electronic Arts, Activision and TellTale Games.
	      </div>
	    </div>
	  </div>
		<div class="container info-content margin-top-small">
			<a href="/speakers/" class="btn btn-primary btn-lg green" role="button">All Speakers</a>
		</div>
		<%= render '/sponsors-logos.html' %>
		<div class="steam-separator"></div>
	</div>
	<div class="footer-cta-block home">
		<div class="container info-content ">
			<a href="/tickets/" class="btn btn-primary btn-lg green" role="button">Get my tickets</a>
			<a href="/info/" class="btn btn-primary btn-lg blue" role="button">Need more info</a>
		</div>
	</div>
	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
</body>
</html>
