<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title'%>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html'%>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Bel Expo Centar<br><span class="yellow">28-30th September 2016</span>
	  </h1>
	  <h4 class="text-center plain">VoxxedDays Belgrade 2016 returns bigger and brighter!<br>We can’t wait to start a new, 3-days round<br>of learning and sharing!</h4>
	  <div class="steam-separator"></div>
	  <h2 class="text-center">
	    2015 <span class="yellow">vs</span> 2016
	  </h2>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text">
	        Voxxed Days Belgrade 2015 turned out to be <span class="accent">the biggest Voxxed conference</span> organized by far!
	        <br><br>
	        We started it enthusiastically and ended up wearing our hearts and souls on sleeves. All in order to bring the world and Belgrade together to share the vibes. This is also why VDB 2016 is going to be <span class="accent">2 times bigger and 4 times more fun!</span>
	        <br><br>
	        Our mission is to offer passionate developers, startup lovers, geeks and those who find the tech to be truly thrilling, the best place <span class="accent">to network, hack, get inspired and learn</span>.
	      </div>
	    </div>
	  </div>
	  <div class="steam-separator"></div>
	  <h2 class="text-center">
	    What to expect?<br><span class="yellow">Unforgettable experience!</span>
	  </h2>
	  <div class="row-centered">
	    <div class="col-sm-5 col-centered">
	      <div class="card">
	        <div class="thumb"><img src="/images/icon-hat.svg"></div>
	        <h3 class="plain">Inspiring speakers</h3>
	        <div class="desc">
	          Powered by developing and business background, internationally renowned and local experts are ready and steady to share their knowledge and rich experience.
	        </div>
	      </div>
	    </div>
	    <div class="col-sm-5 col-centered">
	      <div class="card">
	        <div class="thumb"><img src="/images/icon-rocket.svg"></div>
	        <h3 class="plain">4 parallel tracks</h3>
	        <div class="desc">
	          Catch up on numerous hot technological or business topics: satisfy curiosity, learn new skills and entertain yourself! Choose the tracks that suit you best!
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="row-centered">
	    <div class="col-sm-5 col-centered">
	      <div class="card">
	        <div class="thumb"><img src="/images/icon-sp.svg"></div>
	        <h3 class="plain">Loads of networking</h3>
	        <div class="desc">
	          You will be able to mingle around with more than 800 rock star speakers and accomplished professionals gathered around the mission to learn and share.
	        </div>
	      </div>
	    </div>
	    <div class="col-sm-5 col-centered">
	      <div class="card">
	        <div class="thumb"><img src="/images/icon-fono.svg"></div>
	        <h3 class="plain">Partying at its best</h3>
	        <div class="desc">
	          Plenty of delicious Serbian foods and drinks will be served continuously. Transformation of a venue into an after-party zone. Live gigs, relaxing and rocking atmosphere.
	        </div>
	      </div>
	    </div>
	  </div>
		<div class="steam-separator"></div>
	  <h2 class="text-center">
	    Groundbreaking program<br><span class="yellow">tailored based on your inputs!</span>
	  </h2>
	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="block-text">
	        <span class="accent">Disclaimer:</span> Since Call for Papers is not over yet, the detailed and final program will be available during June
	        <br><br>
	        For now, check out what to expect during these 3 days...
	      </div>
	    </div>
	  </div>
		<div class="row margin-top-med">
			<div class="col-md-6 item-block-holder">
				<div class="block-item info rounded-left">
					<h4 class="bold">Presentations</h4>
					Wrapped into 60 minutes, meant to give you<br>the thorough and interesting insights<br>into topics of your choice.
				</div>
			</div>
			<div class="col-md-6 item-block-holder">
				<div class="block-item info rounded-right">
					<h4 class="bold">Workshops</h4>
					Great for getting the closer look<br>into specific details, specially<br>important to you.
				</div>
			</div>
		</div>
		<%= render '/_topics.html' %>
	</div>
	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>

	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>

</body>
</html>
