<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title' %>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html' %>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Explain to<br><span class="yellow">your manager</span>
	  </h1>
		<div class="row-centered">
	    <div class="col-md-6 col-centered">
				<h4 class="text-center plain">How to explain to your manager that Voxxed Days Belgrade is a must-attend conference?
<br><br>
We have crafted emails for your supervisors to help you get tickets much easier!</h4>
			</div>
		</div>
		<div class="row-centered margin-top-small">
			<div class="col-sm-10 col-md-4 col-centered">
				<div class="block-text text-center">
					<h3 class="text-center">
						<span class="yellow">Super-formal</span>
					</h3>
					<a href="https://docs.google.com/document/d/1TKKDL-m04Zj0yODaoeZkBedEhbd1UlmmgQm41klJSJI/edit" class="accent" target="_blank"><i class="fa fa-file-text-o"></i> text/e-mail Version</a><br>
					<a href="/formal-letter.pdf" class="accent" target="_blank"><i class="fa fa-file-pdf-o"></i> print Version</a>
				</div>
			</div>
			<div class="col-sm-10 col-md-4 col-centered">
				<div class="block-text text-center">
					<h3 class="text-center">
						<span class="yellow">Less formal</span>
					</h3>
					<a href="https://docs.google.com/document/d/14E_ZBwi5qujo7Iut2IwP_3vRRloZBPBJIPia1hxENwA/edit" class="accent" target="_blank"><i class="fa fa-file-text-o"></i> text/e-mail Version</a><br>
					<a href="/less-formal-letter.pdf" class="accent" target="_blank"><i class="fa fa-file-pdf-o"></i> print Version</a>
				</div>
			</div>
			<div class="col-sm-10 col-md-4 col-centered">
				<div class="block-text text-center">
					<h3 class="text-center">
						<span class="yellow">Informal</span>
					</h3>
					<a href="https://docs.google.com/document/d/1_-qfZTaLyYqPC4k8_fKItdik4maCRgiMhQdN71-8dOM/edit" class="accent" target="_blank"><i class="fa fa-file-text-o"></i> text/e-mail Version</a><br>
					<a href="/informal-letter.pdf" class="accent" target="_blank"><i class="fa fa-file-pdf-o"></i> print Version</a>
				</div>
			</div>
		</div>

	</div>
	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>
	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
</body>
</html>
