<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title' %>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html' %>

	<div class="main-bg page"></div>
	<div class="container-fluid">
	  <h1 class="text-center pad-vertical-big">
	    Press<br><span class="yellow">and media</span>
	  </h1>

  	<!-- <div class="row-centered">
	    <div class="col-md-6 col-centered">
				<h4 class="text-center plain">Stay tuned, we will publish more information soon.</h4>
			</div>
		</div>


  	<div class="row-centered margin-top-big">
	    <div class="col-md-6 col-centered">
				<h3 class="text-center plain">Releases</h3>
			</div>
		</div>

		<div class="row-centered margin-top-small">
			<div class="col-centered">
				<div class="block-text text-center">
					<a href="/press/Executive_Newsletter_julyy_19_2016.pdf" class="accent" target="_blank">Executive Newsletter (julyy 19th 2016)</a> (page #3)<br>
				</div>
			</div>
		</div> -->

		<!-- <% grouped_articles.each do |yearmonth, articles_this_month| %>
			<% articles_this_month.each do |article| %>
				<div class="col-md-4 col-centered">
					<div class="blog-item">
						<h3 class="bold text-cener"><%= blog_post(article, article) %></h3>
					</div>
				</div>
			<% end %>
		<% end %> -->

	<div class="container press-clippings">
		<div class="block-grid-xs-1 block-grid-sm-2 block-grid-md-3 block-grid-lg-4">
			<div class="item-block-holder">
				<img src="/images/press/Danas.png" />
				<h6 class="yellow">danas.rs 19. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/PCPress.png" />
				<h6 class="yellow">pcpress.rs 19. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/BiznisIFinansije.png" />
				<h6 class="yellow">bif.rs 19. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/InternetOgledalo.png" />
				<h6 class="yellow">ogledalo.rs 13. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/Ekapija.png" />
				<h6 class="yellow">ekapija.rs 14. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/ITSvet.png" />
				<h6 class="yellow">itsvet.rs 13. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/PersonalMagazin.png" />
				<h6 class="yellow">personalmag.rs 13. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/ITDogadjaji.png" />
				<h6 class="yellow">itdogadjaji.com 13. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/Startit.png" />
				<h6 class="yellow">startit.rs 14. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/Netokracija.png" />
				<h6 class="yellow">netokracija.rs 13. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/HelloWorld.png" />
				<h6 class="yellow">helloworld.rs 28. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/Polarotor.png" />
				<h6 class="yellow">polarotor.rs 20. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/AdvertaiserSerbia.png" />
				<h6 class="yellow">advertiser-serbia.rs 21. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/MrezaKreativnihLjudi.png" />
				<h6 class="yellow">mrezakreativnihljudi.rs 13. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/MagazinStudent.png" />
				<h6 class="yellow">magazinstudent.rs 13. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/Najstudent.png" />
				<h6 class="yellow">najstudent.com 13. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/Vugla.png" />
				<h6 class="yellow">vugla.rs 19. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/VestiRS.png" />
				<h6 class="yellow">vesti.rs 21. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/najnovijevesti.png" />
				<h6 class="yellow">najnovijevestidana.com 19. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/press/NasloviNet.png" />
				<h6 class="yellow">naslovi.net 19. july 2016</h6>
			</div>
			<!-- <div class="item-block-holder">
				<img src="/images/home-logo.png" />
				<h6 class="yellow">Danas.rs</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/home-logo.png" />
				<h6 class="yellow">Danas.rs</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/home-logo.png" />
				<h6 class="yellow">Danas.rs</h6>
			</div>
			<div class="item-block-holder">
				<img src="/images/home-logo.png" />
				<h6 class="yellow">Danas.rs</h6>
			</div> -->
		</div>
	</div>


	</div>
	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>
	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
</body>
</html>
