<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title' %>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html' %>

	<div class="main-bg page"></div>
	<div class="container-fluid">
	  <h1 class="text-center pad-vertical-big">
	    Press<br><span class="yellow">and media</span>
	  </h1>
	<div class="container press-clippings">
		<div class="block-grid-xs-1 block-grid-sm-2 block-grid-md-3 block-grid-lg-4">
			<div class="item-block-holder">
				<a href="http://www.danas.rs/tehnologije.29.html?news_id=323830" target="_blank">
					<img src="/images/press/Danas.png" />
				</a>
				<h6 class="yellow">danas.rs 19. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://pcpress.rs/voxxeddays-belgrade/" target="_blank">
					<img src="/images/press/PCPress.png" />
				</a>
				<h6 class="yellow">pcpress.rs 19. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://bif.rs/2016/07/voxxeddays-belgrade-2016-krem-sveta-ovog-septembru-u-beogradu/" target="_blank">
					<img src="/images/press/BiznisIFinansije.png" />
				</a>
				<h6 class="yellow">bif.rs 19. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://www.ogledalo.rs/voxxeddays-belgrade-2016-krem-it-sveta-ovog-septembru-u-beogradu/" target="_blank">
					<img src="/images/press/InternetOgledalo.png" />
				</a>
				<h6 class="yellow">ogledalo.rs 13. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://www.ekapija.com/website/sr/page/1492324/VoxxedDays-Belgrade-2016-Krem-IT-sveta-ovog-septembru-u-Beogradu" target="_blank">
					<img src="/images/press/Ekapija.png" />
				</a>
				<h6 class="yellow">ekapija.rs 14. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://www.itsvet.com/voxxeddays_belgrade_2016_krem_it_sveta_ovog_septembru_u_beogradu-pcaa1-2172.i?id=199356" target="_blank">
					<img src="/images/press/ITSvet.png" />
				</a>
				<h6 class="yellow">itsvet.rs 13. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://www.personalmag.rs/it/it-events/voxxeddays-belgrade-2016-krem-it-sveta-ovog-septembru-u-beogradu/" target="_blank">
					<img src="/images/press/PersonalMagazin.png" />
				</a>
				<h6 class="yellow">personalmag.rs 13. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://www.itdogadjaji.com/2016/05/20/drugi-voxxed-days-u-beogradu-otvorene-prijave-za-predavace/" target="_blank">
					<img src="/images/press/ITDogadjaji.png" />
				</a>
				<h6 class="yellow">itdogadjaji.com 13. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://startit.rs/na-beogradskom-vooxxeddays-predavaci-iz-amazona-google-a-ibm-a-iskoristi-priliku-za-80e-popusta-na-kupovinu-karte/" target="_blank">
					<img src="/images/press/Startit.png" />
				</a>
				<h6 class="yellow">startit.rs 14. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://www.netokracija.rs/voxxed-days-beograd-119085" target="_blank">
					<img src="/images/press/Netokracija.png" />
				</a>
				<h6 class="yellow">netokracija.rs 13. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="https://www.helloworld.rs/desavanja/voxxeddays-belgrade-2016/2573" target="_blank">
					<img src="/images/press/HelloWorld.png" />
				</a>
				<h6 class="yellow">helloworld.rs 28. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://www.polarotor.rs/it-vesti/prijavite-se-za-konferenciju-voxxeddays-belgrade-2016/" target="_blank">
					<img src="/images/press/Polarotor.png" />
				</a>
				<h6 class="yellow">polarotor.rs 20. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://www.advertiser-serbia.com/vrhunski-strucnjaci-u-beogradu/" target="_blank">
					<img src="/images/press/AdvertaiserSerbia.png" />
				</a>
				<h6 class="yellow">advertiser-serbia.rs 21. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://www.mrezakreativnihljudi.com/2016/07/voxxeddays-belgrade.html" target="_blank">
					<img src="/images/press/MrezaKreativnihLjudi.png" />
				</a>
				<h6 class="yellow">mrezakreativnihljudi.rs 13. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://magazinstudent.rs/2016/07/indiegogo-amazon-google-na-drugom-voxxeddays-belgrade-krajem-septembra/" target="_blank">
					<img src="/images/press/MagazinStudent.png" />
				</a>
				<h6 class="yellow">magazinstudent.rs 13. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://www.najstudent.com/programi-za-studente/drugi-voxxed-days-u-beogradu-4904" target="_blank">
					<img src="/images/press/Najstudent.png" />
				</a>
				<h6 class="yellow">najstudent.com 13. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://www.vugla.com/vrhunski-it-strucnjaci-u-beogradu.html" target="_blank">
					<img src="/images/press/Vugla.png" />
				</a>
				<h6 class="yellow">vugla.rs 19. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://www.vesti.rs/Razno/Vrhunski-IT-strucnjaci-u-Beogradu.html" target="_blank">
					<img src="/images/press/VestiRS.png" />
				</a>
				<h6 class="yellow">vesti.rs 21. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://www.najnovijevestidana.com/2016/07/vrhunski-it-strucnjaci-u-beogradu/" target="_blank">
					<img src="/images/press/NajnovijeVesti.png" />
				</a>
				<h6 class="yellow">najnovijevestidana.com 19. july 2016</h6>
			</div>
			<div class="item-block-holder">
				<a href="http://www.naslovi.net/search.php?q=voxxed" target="_blank">
					<img src="/images/press/NasloviNet.png" />
				</a>
				<h6 class="yellow">naslovi.net 19. july 2016</h6>
			</div>
		</div>
	</div>


	</div>
	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>
	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
</body>
</html>
