<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title'%>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html'%>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Want to know more?<br><span class="yellow">FAQ at its finest</span>
	  </h1>
	  <h4 class="text-center plain">VoxxedDays Belgrade 2016 returns bigger and brighter!<br>We can’t wait to start a new, 3-days round<br>of learning and sharing!</h4>
		<div class="steam-separator"></div><br><br><br>
		<div id="schedule-list">
			<div id="s-clock" class="visible-lg">
				<div id="s-clock-minutes"></div>
				<div id="s-clock-hours"></div>
				<div id="s-clock-background"></div>
				<div class="indicator"></div>
			</div>
			<div class="abs-holder">
				<div class="row">
					<div class="col-lg-3">
						<h3 class="bold yellow text-center">Track 1</h3>
						<div class="schedule-item min30">
							<div class="item-content">
								<i class="fa fa-key circle"></i> Dejan Dimic
								<h5 class="bold">The Internet of Things: State of the Art and what's in front of us on that canvas</h5>
							</div>
						</div>
						<div class="schedule-item min30">
							<div class="item-content">
								<h5 class="bold">Full Name</h5>
								description text
							</div>
						</div>
						<div class="schedule-item min60">
							<div class="item-content">
								<h5 class="bold">Full Name</h5>
								description text
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<h3 class="bold yellow text-center">Track 2</h3>
						<div class="schedule-item min60">
							<div class="item-content">
								<h5 class="bold">Full Name</h5>
								description text
							</div>
						</div>
						<div class="schedule-item min30">
							<div class="item-content">
								<h5 class="bold">Full Name</h5>
								description text
							</div>
						</div>
						<div class="schedule-item min30">
							<div class="item-content">
								<h5 class="bold">Full Name</h5>
								description text
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<h3 class="bold yellow text-center">Track 3</h3>
						<div class="schedule-item min120">
							<div class="item-content">
								<h5 class="bold">Full Name</h5>
								description text
							</div>
						</div>
						<div class="schedule-item min30">
							<div class="item-content">
								<h5 class="bold">Full Name</h5>
								description text
							</div>
						</div>
						<div class="schedule-item min60">
							<div class="item-content">
								<h5 class="bold">Full Name</h5>
								description text
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<h3 class="bold yellow text-center">Track 4</h3>
						<div class="schedule-item min15">
							<div class="item-content">
								<h5 class="bold">Cofee break</h5>
								brasiliana nirvana	
							</div>
						</div>
						<div class="schedule-item min60">
							<div class="item-content">
								<h5 class="bold">Full Name</h5>
								description text
							</div>
						</div>
						<div class="schedule-item min45">
							<div class="item-content">
								<h5 class="bold">Full Name</h5>
								description text
							</div>
						</div>
						<div class="schedule-item min60">
							<div class="item-content">
								<h5 class="bold">Full Name</h5>
								description text
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br><br><br><br><br><div class="steam-separator"></div><br><br><br>
	</div>
	<div class="info-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>

	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
	<script>
		$(window).on('unload', function() {
		   $(window).scrollTop(0);
		});
	</script>
</body>
</html>
