<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title' %>
	<%= meta_share %>
	<%= meta_tag :keywords %>
<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
</head>
<body>
	<%= render '/_header.html' %>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Technology is all about<br><span class="yellow">people</span>
	  </h1>

	  	<div class="row-centered">
	    <div class="col-md-6 col-centered">
			<h4 class="text-center plain">
				Manifesto:
				Join the challenge!
				People: <span id="num-all">0</span><br>
				Chain length: <span id="num-len">0</span> meters.
			</h4>
		</div>
		</div>

<div id="scrollx">
<div class="photobannerX">
	<!-- Each image is 350px by 233px -->
    <div><img src="i1.jpg" alt="" /></div>
	<div><img src="i2.jpg" alt="" /></div>
	<div><img src="i3.jpg" alt="" /></div>
	<div><img src="i4.jpg" alt="" /></div>
	<div><img src="i5.jpg" alt="" /></div>
</div>
</div>

	</div>


	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>
	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script type="text/javascript" src="/js/jquery.animateNumber.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.photobannerX').slick({
  	 	arrows: false,
		centerMode: true,
        centerPadding: '10px',
        slidesToShow: 3,
        autoplay: true,
  		autoplaySpeed: 1000,
  		centerMode: true
  });
});

$('#num-all').animateNumber({ number: 6 });
$('#num-len').animateNumber({
      number: 2.75 * 100,

      numberStep: function(now, tween) {
        var floored_number = Math.floor(now) / 100,
            target = $(tween.elem);

          // force decimal places even if they are 0
          floored_number = floored_number.toFixed(2);

          // replace '.' separator with ','
          floored_number = floored_number.toString().replace('.', ',');

        target.text(floored_number);
      }
    },
    10000
);
</script>

</body>
</html>
