<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Speaker' %>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html'%>

	<div class="main-bg page"></div>
	<div class="container">

	  <h1 class="text-center pad-vertical-big">
	    <%= @item[:firstname] %><br><span class="yellow"><%= @item[:lastname] %></span>
	  </h1>

	  <div class="steam-separator"></div>

	  <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <div class="speaker">
					<% if !@item[:url].to_s.empty? then %><a href="<%= @item[:url] %>" target="_blank"><% end %>
						<div class="photo" style="background-image: url('/images/speakers/<%= @item[:photo] %>')"></div>
						<h5 class="yellow">
							<%= @item[:firstname] %> <%= @item[:lastname] %>
						</h5>
					<% if !@item[:url].to_s.empty? then %></a><% end %>
					<h6 class="company">
						<%= @item[:company] %>
					</h6>
					<div class="brown">
						<%
						@item[:talk].to_a.each { |t|
						if !t[:title].to_s.empty? && !t[:type].to_s.empty?
						%>
							<div class="single-talk">
								<% if t[:type] == 'talk' %>
								<i class="fa fa-microphone yellow"></i>
								<% end %>
								<% if t[:type] == 'workshop' %>
								<i class="fa fa-wrench yellow"></i>
								<% end %>
								<% if t[:type] == 'lightning' %>
								<i class="fa fa-bolt yellow"></i>
								<% end %>
								<span class="talk-title"><%= t[:title] %></span>
							</div>
						<%
							end
						}
						%>
					</div>
					<div class="tags">
						<%  @item[:tags].to_a.each do |tag| %>
							<span class="tag">
									<%= tag %>
							</span>
						<% end %>
					</div>
	      </div>
	    </div>
	  </div>

	</div>
	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>

	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>

</body>
</html>
