<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Speaker' %>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html'%>

	<div class="main-bg page"></div>
	<div class="container">

	  <div class="speaker">
			<h1 class="text-center">
		    <%= @item[:firstname] %><br><span class="yellow"><%= @item[:lastname] %></span>
		  </h1>
			<div class="photo-frame">
				<div style="background-image: url('/images/speakers/<%= @item[:photo] %>');"></div>
			</div>
			<% if !@item[:url].to_s.empty? then %><a href="<%= @item[:url] %>" target="_blank"><%= @item[:url] %></a><% end %>
			<h4 class="bold">
				<%= @item[:company] %>
			</h4>
  	</div>

	  <div class="row-centered margin-top-big">
	    <div class="col-sm-8 col-centered">
	      <div class="speaker header">
					<% if !@item[:answers][0].to_s.empty? || !@item[:answers][1].to_s.empty? || !@item[:answers][2].to_s.empty? %>
						<div>
							<% if !@item[:answers][0].to_s.empty? %>
								<h5>What’s the craziest thing that happened to you that involves technology?</h5>
								<div class="speaker-answer">
									<%= @item[:answers][0] %>
								</div>
							<% end %>
							<% if !@item[:answers][1].to_s.empty? %>
								<h5 class="margin-top-med">How do you see next 5 years in tech?</h5>
								<div class="speaker-answer">
									<%= @item[:answers][1] %>
								</div>
							<% end %>
							<% if !@item[:answers][2].to_s.empty? %>
								<h5 class="margin-top-med">What would you tell to your younger self?</h5>
								<div class="speaker-answer last">
									<%= @item[:answers][2] %>
								</div>
							<% end %>
						</div>
					<% end %>
					<div class="brown">
						<% @item[:speakertalks].flatten(1).each do |t|

						if !t[:title].to_s.empty? && !t[:type].to_s.empty?
						%>
							<div class="single-talk">
								<% if t[:type] == 'talk' %>
								<i class="fa fa-microphone big-icon"></i>
								<% end %>
								<% if t[:type] == 'workshop' %>
								<i class="fa fa-wrench big-icon"></i>
								<% end %>
								<% if t[:type] == 'lightning' %>
								<i class="fa fa-bolt big-icon"></i>
								<% end %>
								<a href="/talk/<%= t[:tid] %>/"><h3 class="title"><%= t[:title] %></h3></a>
								<!-- <div class="text">
									<% t[:long].to_a.each do |p| %>
										<p>
											<%= p %>
										</p>
									<% end %>
								</div> -->
								<!-- <div class="tags">
									<%  @item[:tags].to_a.each do |tag| %>
										<span class="tag">
												<%= tag %>
										</span>
									<% end %>
								</div> -->
							</div>
						<%
							end

						end
						%>
					</div>

	      </div>
	    </div>
	  </div>

	</div>
	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>

	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>

</body>
</html>
