<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title' %>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html' %>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Speakers<br><span class="yellow">kit</span>
	  </h1>

	  	<div class="row-centered">
	    <div class="col-md-6 col-centered">
			<h4 class="text-center plain">Hello speaker!
			We are very thankful for your presence at the <b class="yellow">VDB16</b>!
		</div>
		</div>
		<div class="row-centered">
			<div class="col-sm-10 col-centered">
				<div class="block-text text-center">
					Please bookmark this page as it will be frequently updated.
					<br><br>
					Just in case we haven't mentioned, we truly appreciate your
					effort to come to Belgrade and talk at VDB conference. Kudos!
					+10 Karma points for you!
				</div>
			</div>
		</div>

		<div class="steam-separator"></div>

		<div class="row-centered margin-top-small">
			<div class="col-sm-10 col-centered">
				<div class="block-text text-center">
					We have a special e-mail just for you:
					<a href="mailto:vdb-speakers@heapspace.rs">vdb-speakers@heapspace.rs</a>.
					Feel free to ask us anything, we will answer all of your questions promptly.
				</div>
			</div>
		</div>
		<div class="row-centered margin-top-small">
			<div class="col-sm-10 col-centered">
				<div class="block-text text-center">
					<img vspace="10px" src="ana.jpg" alt="Ana" style="margin:auto;">
					<b>Ana</b> is here to help you!<br>
					cell phone: <b>+381.63.575917</b><br>
					Skype: <b>anarodic93</b>
				</div>
			</div>
		</div>


		<div class="steam-separator"></div>

		<div class="row-centered margin-top-small">
			<div class="col-sm-10 col-centered">
				<div class="block-text text-center">
				<b>Share, share, share!</b> If you are super-excited as we are,
				please share info about <b class="yellow">#VDB16</b> on your
				social media or your website. We crafted some buttons you can use, to look cool
				(you know the drill, right-click and then save):
				</div>
			</div>
			<div class="col-sm-10 col-md-6 col-lg-4 col-centered">
				<div class="text-center">
					<img vspace="10px" src="vdb16-badge2-350x75.png" alt="VoxxedDays Belgrad badge 2">
				</div>
			</div>
			<div class="col-sm-10 col-md-6 col-lg-4 col-centered">
				<div class="text-center">
					<img vspace="10px" src="vdb16-badge3-350x75.png" alt="VoxxedDays Belgrad badge 3">
				</div>
			</div>
			<div class="col-sm-10 col-md-6 col-lg-4 col-centered">
				<div class="text-center">
					<img vspace="10px" src="vdb16-badge4-350x75.png" alt="VoxxedDays Belgrad badge 4">
				</div>
			</div>
			<div class="col-sm-10 col-md-6 col-lg-4 col-centered">
				<div class="text-center">
					<img vspace="10px" src="vdb16-badge1-320x250.png" alt="VoxxedDays Belgrad badge 1">
				</div>
			</div>
		</div>


	</div>
	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>
	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
</body>
</html>
