<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title'%>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html'%>

	<div class="127 main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Speakers at<br><span class="yellow">VDB 2016</span>
	  </h1>

		<div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <h4 class="text-center plain">
	      	Meet Voxxed Belgrade <b class="yellow">Super-Heroes</b>!<br>
	      	We proudly present <b class="yellow">80+</b> awesome speakers,
	      	coming from all over the world, to share the knowledge and experience
	      	with <a href="/tickets/">YOU</a>!
	      	<br><br><br>
	      </h4>
	    </div>
	  </div>

		<div id="speakers" class="row-centered">

			<div class="tagsort-tags-container"></div>
			<div id="" class="reset-holder">
					<div class="tags-reset false-btn red">clear tags</div>
			</div>
			<div class="margin-top-small"></div>
			<%
			speakers_raw = loadspeakersandtalks()
			speakersarray = speakers_raw['speakers'].to_a
			speakersarray.each_with_index { |s, i|
				if (['Pixar', 'Google', 'Atlassian', 'JetBrains', 'Pivotal', 'Pivotal Software, Inc.', 'Idea', 'Amazon', 'Redhat', 'IBM', 'IBM Global Business Services', 'IBM Bluemix'].include? s["company"])
					speakersarray.insert(0,speakersarray.delete_at(i))
				end
			}
			speakersarray.each_with_index { |s, i|
				if (['Amyx+McKinsey'].include? s["company"])
					speakersarray.insert(0,speakersarray.delete_at(i))
				end
			}
			speakersarray.each { |s|
				if !s['firstname'].to_s.empty? && !s['lastname'].to_s.empty? && s['skip'].to_s.empty?
			%>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-centered speaker-tags" data-item-tags="<%= s['tags'].to_a.join(', ') %>">
				<div class="speaker">
					<% if !s['pageurl'].to_s.empty? then %><a href="/speakers/<%= s['pageurl'] %>/"><% end %>
						<div class="photo" style="background-image: url('../images/speakers/<%= s['photo'] %>')"></div>
						<h5 class="yellow">
							<%= s['firstname'] %> <%= s['lastname'] %>
						</h5>
					<% if !s['pageurl'].to_s.empty? then %></a><% end %>
					<h6 class="company">
						<%= s['company'] %>
					</h6>
					<div class="brown">
						<%
						if !s['talk'].to_s.empty?
							s['talk'].each { |talk|
								speaker_talks = speakers_raw['talks'].select{ |item| item['tid'] == talk.to_i }
								speaker_talks.each do |t|
								%>
									<div class="single-talk">
										<% if t['type'] == 'talk' %>
										<i class="fa fa-microphone yellow"></i>
										<% end %>
										<% if t['type'] == 'workshop' %>
										<i class="fa fa-wrench yellow"></i>
										<% end %>
										<% if t['type'] == 'lightning' %>
										<i class="fa fa-bolt yellow"></i>
										<% end %>
										<a href="/talk/<%= t['tid'] %>/"><span class="brown"><%= t['title'] %></span></a>
									</div>
								<%
								end
							}
						end
						%>
					</div>
					<div class="tags">
						<%  s['tags'].to_a.each do |tag| %>
							<span class="tag">
									<%= tag %>
							</span>
						<% end %>
					</div>
				</div>
			</div>
			<%
				end
			}
			%>

	  </div>
	</div>
	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>

	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
	<script type="text/javascript">
	</script>
</body>
</html>
