<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title'%>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html'%>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Speakers at<br><span class="yellow">VDB 2016</span>
	  </h1>
		<!-- <div class="row-centered">
	    <div class="col-sm-8 col-centered">
	      <h4 class="text-center plain">Voxxed Days Belgrade is organized by the team of enthusiasts who believe that growth is possible only through sharing of top knowledge and awesome energy!<br><br>We are active members of <span class="yellow"><a href="http://heapspace.rs" target="_blank">HeapSpace</a></span> community,<br>in charge of raising the technological community of Serbia onto the whole new level.</h4>
	    </div>
	  </div> -->

	  <div class="steam-separator"></div>

		<div id="speakers" class="row-centered">

			<div class="tagsort-tags-container"></div>
			<div class="reset-holder">
					<div class="tags-reset false-btn red">clear tags</div>
			</div>
			<div class="margin-top-small"></div>
			<% @item[:speakers].to_a.each { |s| %>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-centered speaker-tags" data-item-tags="<%= s[:tags].to_a.join(', ') %>">
	      <div class="speaker">
					<% if !s[:url].to_s.empty? then %><a href="<%= s[:url] %>" target="_blank"><% end %>
						<div class="photo" style="background-image: url('../images/speakers/<%= s[:photo] %>')"></div>
						<h5 class="yellow">
							<%= s[:firstname] %> <%= s[:lastname] %>
						</h5>
					<% if !s[:url].to_s.empty? then %></a><% end %>
					<h6 class="accent mb10">
						<%= s[:company] %>
					</h6>
					<div class="brown">
						<%= s[:talk] %>
					</div>
					<div class="tags">
						<%  s[:tags].to_a.each do |tag| %>
							<span class="tag">
									<%= tag %>
							</span>
						<% end %>
					</div>
	      </div>
	    </div>
			<% } %>

	  </div>
	</div>
	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>

	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
	<script type="text/javascript">
	</script>
</body>
</html>
