<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Speaker' %>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html'%>

	<div class="main-bg page"></div>
	<div class="container">

	  <div class="speaker">
			<h1 class="text-center">
		    <%= @item[:firstname] %><br><span class="yellow"><%= @item[:lastname] %></span>
		  </h1>
			<div class="photo" style="background-image: url('/images/speakers/<%= @item[:photo] %>')"></div>
			<% if !@item[:url].to_s.empty? then %><a href="<%= @item[:url] %>" target="_blank"><%= @item[:url] %></a><% end %>
			<h6 class="">
				<%= @item[:company] %>
			</h6>
  	</div>

	  <div class="row-centered margin-top-big">
	    <div class="col-sm-8 col-centered">
	      <div class="speaker header">

					<div class="brown">
						<%
						@item[:talk].to_a.each_with_index { |t|
						if !t[:title].to_s.empty? && !t[:type].to_s.empty?
						%>
							<div class="single-talk">
								<% if t[:type] == 'talk' %>
								<i class="fa fa-microphone big-icon"></i>
								<% end %>
								<% if t[:type] == 'workshop' %>
								<i class="fa fa-wrench big-icon wrench"></i>
								<% end %>
								<% if t[:type] == 'lightning' %>
								<i class="fa fa-bolt big-icon"></i>
								<% end %>
								<h3 class="title"><%= t[:title] %></h3>
								<% if !t[:secondspeaker].to_s.empty? && t[:secondspeaker] != '' %>
									<h5 class="second-speaker bold">co-speaker: <span class=""><%= t[:secondspeaker] %></span></h5>
								<% end %>
								<div class="text">
									<% t[:long].to_a.each do |p| %>
										<p>
											<%= p %>
										</p>
									<% end %>
								</div>
								<div class="tags">
									<%  @item[:tags].to_a.each do |tag| %>
										<span class="tag">
												<%= tag %>
										</span>
									<% end %>
								</div>
							</div>
						<%
							end
						}
						%>
					</div>

	      </div>
	    </div>
	  </div>

	</div>
	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>

	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>

</body>
</html>
