<div class="steam-separator"></div>
<h3 class="margin-top-small bold text-center">
	Diamond <span class="yellow">sponsors</span>
</h3>
<div class="row-centered">
	<div class="sponsor-logo col-sm-4 col-centered">
		<a href="https://www.sbgenomics.com/" target="_blank"><img class="" src="/images/logo-sb.png" alt="Seven Bridges" /></a>
	</div>
</div>
<h3 class="margin-top-small bold text-center">
	Gold <span class="yellow">sponsors</span>
</h3>
<div class="row-centered margin-top-small">
	<div class="sponsor-logo col-sm-4 col-centered">
		<a href="https://www.levi9.com/" target="_blank"><img class="limited100" src="/images/logo-levi9.svg" alt="Levi 9" /></a>
	</div>
</div>
<h3 class="bold text-center margin-top-med">
	Bronze <span class="yellow">sponsors</span>
</h3>
<div class="row-centered">
	<div class="sponsor-logo col-sm-3 col-centered">
		<a href="http://www.3ap.ch/" target="_blank"><img class="" src="/images/logo-3am.png" alt="3ap" /></a>
	</div>
	<div class="sponsor-logo col-sm-3 col-centered">
		<a href="http://www.qacube.com/" target="_blank"><img class="" src="/images/logo-qacube.png"  alt="QA Cube" /></a>
	</div>
	<div class="sponsor-logo col-sm-3 col-centered">
		<a href="https://www.zuehlke.com/rs/en/" target="_blank"><img class="" src="/images/logo-zuehlke.png"  alt="Zuehlke" /></a>
	</div>
</div>
