<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title' %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html' %>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Our vision<br><span class="yellow">resonates with you?</span>
	  </h1>
		<div class="row-centered">
	    <div class="col-md-8 col-centered">
				<h4 class="text-center plain">We have to say a big thank you to our awesome partners<br>for sharing our beliefs and our dreams:</h4>
			</div>
		</div>
		<%= render '/sponsors-logos.html' %>
		<div class="steam-separator"></div>
		<h2 class="text-center">
			Become a <span class="yellow">Sponsor</span>
		</h2>
		<div class="row-centered">
			<div class="col-sm-8 col-centered">
				<div class="block-text text-center">
					Learn how to enjoy <span class="accent">all the benefits</span> VDB 2016 has to offer<br>and become one of the sponsors!
					<br><br>
					<span class="accent">Get in touch</span> – we will get back to you very soon!
				</div>
			</div>
		</div>
		<form class="margin-top-small" action="sponsor_form.php" method="post">
			<div class="row-centered">
		    <div class="col-sm-8 col-centered">
		      <div class="form-group">
				    <input type="text" class="form-control float-label" name="formname" placeholder="Name">
				  </div>
		    </div>
		  </div>
			<div class="row-centered">
		    <div class="col-sm-8 col-centered">
		      <div class="form-group">
				    <input type="text" class="form-control float-label" name="formcompany" placeholder="Company">
				  </div>
		    </div>
		  </div>
			<div class="row-centered">
		    <div class="col-sm-8 col-centered">
		      <div class="form-group">
				    <input type="email" class="form-control float-label" required="required" name="formemail" placeholder="E-mail (required)">
				  </div>
		    </div>
		  </div>
			<div class="row-centered">
		    <div class="col-sm-8 col-centered">
		      <div class="form-group">
				    <input type="text" class="form-control float-label" name="formphone" placeholder="Phone">
				  </div>
		    </div>
		  </div>

			<div class="text-center info-content margin-top-small">
				<button type="submit" class="btn btn-primary btn-lg green blue">Send</button>
			</div>
		</form>
	</div>
	<div class="info-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>
	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
</body>
</html>
