<div class="steam-separator"></div>
<h3 class="margin-top-small bold text-center">
	Diamond <span class="yellow">sponsors</span>
</h3>
<div class="row-centered">
	<div class="col-sm-4 col-centered margin-top-small">
		<a href="https://www.sbgenomics.com/" class="sp-logo" target="_blank"><img width="330px" class="" src="/images/logo-sb.svg" alt="Seven Bridges" /></a>
	</div>
</div>
<h3 class="margin-top-med bold text-center">
	Gold <span class="yellow">sponsors</span>
</h3>
<div class="row-centered margin-top-small">
	<div class="col-sm-4 col-centered">
		<a href="https://www.levi9.com/" class="sp-logo block" target="_blank"><img width="200px" height="75px" class="limit70" src="/images/logo-levi9.svg" alt="Levi 9" /></a>
	</div>
	<div class="col-sm-4 col-centered">
		<a href="http://www.pstech.rs/sr/" class="sp-logo" target="_blank"><img class="limit55" src="/images/logo-endava.png" alt="Endava" /></a>
	</div>
</div>
<h3 class="margin-top-small bold text-center">
	Silver <span class="yellow">sponsors</span>
</h3>
<div class="row-centered margin-top-small">
	<div class="col-sm-4 col-centered">
		<a href="http://www.enjoying.rs/" class="sp-logo block" target="_blank"><img width="180px" height="35px" class="limit35" src="/images/logo-enjoying.svg" alt="Enjoy.ing" /></a>
	</div>
	<div class="col-sm-4 col-centered">
		<a href="http://www.telegroup.rs/" class="sp-logo" target="_blank"><img class="limit35" src="/images/logo-tg.png" alt="TeleGroup" /></a>
	</div>
	<div class="col-sm-4 col-centered">
		<a href="http://www.fisglobal.com/" class="sp-logo" target="_blank"><img class="limit35" src="/images/FIS-logo.svg" alt="FIS" /></a>
	</div>
</div>
<h3 class="bold text-center margin-top-med">
	Bronze <span class="yellow">sponsors</span>
</h3>
<div class="row-centered margin-top-small">
	<div class="col-sm-3 col-centered">
		<a href="http://www.3ap.ch/" class="sp-logo" target="_blank"><img width="140px" class="limit45" src="/images/3ap.svg" alt="3ap" /></a>
	</div>
	<div class="col-sm-3 col-centered">
		<a href="http://www.qacube.com/" class="sp-logo" target="_blank"><img width="140px" class="limit45" src="/images/qacube-logo.svg"  alt="QA Cube" /></a>
	</div>
	<div class="col-sm-3 col-centered">
		<a href="https://www.zuehlke.com/rs/en/" class="sp-logo" target="_blank"><img width="140px" class="limit45" src="/images/Zuehlke-logo.svg"  alt="Zuehlke" /></a>
	</div>
	<div class="col-sm-3 col-centered">
		<a href="http://hooloovoo.rs/" class="sp-logo" target="_blank"><img width="140px" class="limit25" src="/images/logo-hooloovoo.svg"  alt="Hooloovoo" /></a>
	</div>
</div>
<h3 class="bold text-center margin-top-med">
	Supporting <span class="yellow">partners</span>
</h3>
<div class="row-centered margin-top-small">
	<div class="col-sm-3 col-centered">
		<a href="http://comtradegroup.com/" class="sp-logo" target="_blank"><img width="170px" class="limit45" src="/images/logo-comtrade.svg" alt="Comtrade" /></a>
		<div class="brown text-center">Keynote sponsor</div>
	</div>
	<div class="col-sm-3 col-centered">
		<a href="https://www.helloworld.rs/" class="sp-logo" target="_blank"><img width="160px" class="limit45" src="/images/logo-helloworld2.png"  alt="Hello World" /></a>
	</div>
	<div class="col-sm-3 col-centered">
		<a href="http://www.nordeus.com/" class="sp-logo" target="_blank"><img width="130px" class="limit45" src="/images/logo-nordeus.svg"  alt="Nordeus" /></a>
		<div class="brown text-center">WiFi Pass sponsor</div>
	</div>
</div>
