<div class="steam-separator"></div>
<h3 class="margin-top-small bold text-center">
	Diamond <span class="yellow">sponsors</span>
</h3>
<div class="row-centered">
	<div class="col-sm-4 col-centered">
		<a href="https://www.sbgenomics.com/" class="sp-logo" target="_blank"><img class="" src="/images/logo-sb.png" alt="Seven Bridges" /></a>
	</div>
</div>
<h3 class="margin-top-small bold text-center">
	Gold <span class="yellow">sponsors</span>
</h3>
<div class="row-centered margin-top-small">
	<div class="col-sm-4 col-centered">
		<a href="https://www.levi9.com/" class="sp-logo block" target="_blank"><img width="200px" height="75px" class="limit70" src="/images/logo-levi9.svg" alt="Levi 9" /></a>
	</div>
	<div class="col-sm-4 col-centered">
		<a href="http://www.pstech.rs/sr/" class="sp-logo" target="_blank"><img class="limit55" src="/images/logo-endava.png" alt="Endava" /></a>
	</div>
</div>
<h3 class="margin-top-small bold text-center">
	Silver <span class="yellow">sponsors</span>
</h3>
<div class="row-centered margin-top-small">
	<div class="col-sm-4 col-centered">
		<a href="http://www.enjoying.rs/" class="sp-logo block" target="_blank"><img width="180px" height="35px" class="limit35" src="/images/logo-enjoying.svg" alt="Enjoy.ing" /></a>
	</div>
	<div class="col-sm-4 col-centered">
		<a href="http://www.telegroup.rs/" class="sp-logo" target="_blank"><img class="limit35" src="/images/logo-tg.png" alt="TeleGroup" /></a>
	</div>
	<div class="col-sm-4 col-centered">
		<a href="http://www.fisglobal.com/" class="sp-logo" target="_blank"><img class="limit35" src="/images/logo-fis.png" alt="FIS" /></a>
	</div>
</div>
<h3 class="bold text-center margin-top-med">
	Bronze <span class="yellow">sponsors</span>
</h3>
<div class="row-centered">
	<div class="col-sm-3 col-centered">
		<a href="http://www.3ap.ch/" class="sp-logo" target="_blank"><img class="" src="/images/logo-3am.png" alt="3ap" /></a>
	</div>
	<div class="col-sm-3 col-centered">
		<a href="http://www.qacube.com/" class="sp-logo" target="_blank"><img class="" src="/images/logo-qacube.png"  alt="QA Cube" /></a>
	</div>
	<div class="col-sm-3 col-centered">
		<a href="https://www.zuehlke.com/rs/en/" class="sp-logo" target="_blank"><img class="" src="/images/logo-zuehlke.png"  alt="Zuehlke" /></a>
	</div>
</div>
