<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Speaker' %>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html'%>

	<div class="main-bg page"></div>
	<div class="container">

	  <div class="row-centered margin-top-huge">
	    <div class="col-sm-3 col-centered single-talk">
				<% @item[:talkspeakers].flatten(1).each do |speaker| %>
	      <div class="speaker">
					<div class="photo-frame">
							<div style="background-image: url('/images/speakers/<%= speaker[:photo] %>');"></div>
					</div>
					<h4 class="text-center">
				    <a href="/speakers/<%= speaker[:pageurl] %>/"><span class="yellow bold"><%= speaker[:firstname] %> <%= speaker[:lastname] %></span></a>
				  </h4>
					<h6 class="">
						<%= speaker[:company] %>
					</h6>
		  	</div>
				<div class="talk-circle-links">
					<a href="https://twitter.com/intent/tweet?
						text=Woot, Woot!! I'm watching <%= speaker[:firstname] %> <%= speaker[:lastname] %> at VoxxedDays Belgrade 2016
						&hashtags=vdb16,awesome,tech,conference">
						<i class="fa fa-share-alt big-icon card"></i>
					</a>
					<a href="/speakers/<%= speaker[:pageurl] %>/"><i class="fa fa-user big-icon card"></i></a> <% if !speaker[:url].to_s.empty? then %><a href="<%= speaker[:url] %>" target="_blank"><i class="fa fa-link big-icon card"></i></a><% end %>
				</div>
				<% end %>
	    </div>
			<div class="col-sm-7 col-centered">
				<div class="single-talk">
					<h2 class="card-title">
						<% if @item[:type] == 'talk' %>
						<i class="fa fa-microphone yellow"></i>
						<% end %>
						<% if @item[:type] == 'workshop' %>
						<i class="fa fa-wrench yellow"></i>
						<% end %>
						<% if @item[:type] == 'lightning' %>
						<i class="fa fa-bolt yellow"></i>
						<% end %>
				    <span class="accent bold"><%= @item[:title] %></span></a>
				  </h2>
					<div id="talk-desc" class="text">
						<% @item[:short].to_a.each do |p| %>
							<p>
								<%= p %>
							</p>
						<% end %>
					</div>
					<!-- <h4 class="accent">
						<img class="card-logo" src="/images/home-logo-small.png" /> 29. Sep <span class="yellow">/</span> 10:00 <span class="yellow">/</span> Track 2 <span class="yellow">/</span> Venue 3
					</h4> -->
					<% @item[:talkspeakers].flatten(1).each do |speaker| %>

					<% end %>
				</div>
				<div class="single-talk">
					<!-- <div class="tags card">
					<%	tags_arr = []
							@item[:talkspeakers].flatten(1).each do |speaker|
								tags_arr << speaker[:tags]
							end %>
					<% tags_arr.flatten.uniq.each do |tag| %>
					<span class="tag card">
						<%= tag %>
					</span>
					<% end %>
					</div> -->

					<% if !@item[:day].to_s.empty? %>
						<a class="btn btn-primary btn-lg form-link btn-talk-schedule" role="button" href="/schedule/day<%= @item[:day] %>#<%= @item[:day] %>-<%= @item[:track] %>-<%= @item[:slot] %>"><i class="fa fa-calendar talk-schedule"></i> Day <%= @item[:day] %> &nbsp;&bull;&nbsp; Track <%= @item[:track] %> &nbsp;&bull;&nbsp; Slot <%= @item[:slot] %></a>
					<% end %>
					<% if !@item[:form].to_s.empty? %>&nbsp;&nbsp;&nbsp;<a href="<%= @item[:form] %>" class="btn btn-primary talk-form-link red" role="button" target="_blank"><i class="fa fa-check-circle"></i> apply now</a><% end %>
				</div>



				<div class="single-talk margin-top-small">
					<h4 class="card-title">
						<span class="yellow bold">Full abstract</span></a>
					</h4>
					<div class="text">
						<% @item[:long].to_a.each do |p| %>
							<p>
								<%= p %>
							</p>
						<% end %>
					</div>
				</div>
	    </div>
	  </div>

	</div>
	<div class="info margin-top-huge">

	</div>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>

</body>
</html>
