<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title'%>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html'%>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Thank you<br><span class="yellow">for your time!</span>
	  </h1>
		<div class="row-centered">
			<div class="col-sm-8 col-centered">
				<div class="block-text text-center">
					We will get back to you very soon!
				</div>
			</div>
		</div>
	</div>
	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
</body>
</html>
