<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title' %>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html' %>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Open call for<br><span class="yellow">volunteers</span>
	  </h1>

	  	<div class="row-centered">
		    <div class="col-md-6 col-centered">
				<h4 class="text-center plain">Take a part in the Balkan’s most inspiring Tech Conference - <b class="yellow">Voxxed Days Belgrade</b>!
			</div>
		</div>
		<div class="row-centered">
			<div class="col-sm-10 col-centered">
				<div class="block-text text-center">
					You have a unique opportunity to join
					<a href="http://heapspace.rs" target="_blank">HeapSpace</a> team as a volunteer and participate in organizing
					the largest independent Tech Conference in the region.
					<br><br>
					More details about what we need and what do you get in return you can find here:
					<br><br>
					<a href="https://docs.google.com/a/heapspace.rs/forms/d/1reiI0R4AauvmEWfMcpwsVnAi6sNvYjPsy6Zdu-kNt4A/viewform" target="blank"><b>APPLICATION FOR VOLUNTEERS</b></a>
					<br><br>
					It would be helpful if you’d share this call among your friends.
					<br><br>
					Also check us on <a href="https://www.facebook.com/voxxedbelgrade/" target="_blank">Facebook</a>,
					<a href="https://twitter.com/VoxxedBelgrade" target="_blank">Twitter</a> and
					<a href="https://www.instagram.com/voxxeddaysbelgrade/" target="_blank">Instagram</a>, and follow us for the newest info!
				</div>
			</div>
		</div>

	</div>
	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>
	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
</body>
</html>
