<!DOCTYPE html>
<html>
<head>
	<%= render '/_head.html', :title => 'Default title' %>
	<%= meta_share %>
	<%= meta_tag :keywords %>
</head>
<body>
	<%= render '/_header.html' %>

	<div class="main-bg page"></div>
	<div class="container">
	  <h1 class="text-center pad-vertical-big">
	    Open call for<br><span class="yellow">volunteers</span>
	  </h1>

	  	<div class="row-centered">
	    <div class="col-md-6 col-centered">
			<h4 class="text-center plain">Take a part in the Balkan’s most inspiring Tech Conference - <b class="yellow">Voxxed Days Belgrade</b>!
		</div>
		</div>
		<div class="row-centered">
			<div class="col-sm-10 col-centered">
				<div class="block-text text-center">
					You have a unique opportunity to join
					<a href="http://heapspace.rs">HeapSpace</a> team as a volunteer and participate in organizing
					the largest independent Tech Conference in the region.
					<br><br>
					More details about what we need and what do you get in return you can find here:
					<br><br>
					<a href="https://docs.google.com/a/heapspace.rs/forms/d/1reiI0R4AauvmEWfMcpwsVnAi6sNvYjPsy6Zdu-kNt4A/viewform" target="blank"><b>APPLICATION FOR VOLUNTEERS</b></a>
					<br><br>
					It would be helpful if you’d share this call among your friends.
					<br><br>
					Also check us on <a href="https://www.facebook.com/voxxedbelgrade/">Facebook</a>,
					<a href="https://twitter.com/VoxxedBelgrade">Twitter</a> and
					<a href="https://www.instagram.com/voxxeddaysbelgrade/">Instagram</a>, and follow us for the newest info!
				</div>
			</div>
		</div>

		<div class="steam-separator"></div>

		<div class="row-centered margin-top-small">
			<div class="col-sm-10 col-centered">
				<div class="block-text text-center">
					We have a special e-mail just for you:
					<a href="mailto:vdb-speakers@heapspace.rs">vdb-speakers@heapspace.rs</a>.
					Feel free to ask us anything, we will answer all of your questions promptly.
				</div>
			</div>
		</div>
		<div class="row-centered margin-top-small">
			<div class="col-sm-10 col-centered">
				<div class="block-text text-center">
					<img vspace="10px" src="ana.jpg" alt="Ana" style="margin:auto;">
					<b>Ana</b> is here to help you!<br>
					cell phone: <b>+381.63.575917</b><br>
					Skype: <b>anarodic93</b>
				</div>
			</div>
		</div>


		<div class="steam-separator"></div>

		<div class="row-centered margin-top-small">
			<div class="col-sm-10 col-centered">
				<div class="block-text text-center">
				<b>Share, share, share!</b> If you are super-excited as we are,
				please share info about <b class="yellow">#VDB16</b> on your
				social media or your website. We crafted some buttons you can use, to look cool
				(you know the drill, right-click and then save):
				</div>
			</div>
		</div>


	</div>
	<div class="footer-cta-block info margin-top-big">
	  <%= render '/_footer_cta.html' %>
	</div>
	<%= render '/_footer.html'%>
	<%= render '/_bottomscripts.html'%>
</body>
</html>
