@import "bootstrap-variables";
@import "mixins";

.blogpost {
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 45px 0;
    border: 3px solid rgba(255, 255, 255, 0.1);
    @include round-left-corners();
    @include round-right-corners();
  }
  p {
    color: $brand-secondary;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 22px;
  }
  strong {
    font-style: normal;
    font-weight: 300;
    color: $white;
  }
}

.blog-item {
   text-align: center;
   padding-bottom: 48px;
   &:hover {
     cursor: pointer;
     //background: rgba(17,14,11,0.9);
   }
   &.blog  {
     //background: rgba(17,14,11,0.9);
     cursor: default;
   }
  .blog_link {
    position: relative;
    color: $white;
  }
  .blog_link_text {
    height: 70px;
    padding-bottom: 20px;
  }
  .blog_thumb {
    width:100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    margin: 20px 0;
    border: 0px solid rgba(255, 255, 255, 0.1);
    @include round-left-corners();
    @include round-right-corners();
    -webkit-filter: sepia(1);
    -webkit-filter: sepia(100%);
    -moz-filter: sepia(100%);
    -ms-filter: sepia(100%);
    -o-filter: sepia(100%);
    filter: sepia(100%);
  }
  .excerpt {
    font-size: 22px;
    font-family: "Roboto";
    color: $brand-secondary;
    font-weight: 300;
    padding-bottom: 5px;
  }
}
.blog_link:hover {
  color: $brand-primary;
  .blog_thumb {
    -webkit-filter: sepia(0);
    -webkit-filter: sepia(0);
    -moz-filter: sepia(0);
    -ms-filter: sepia(0);
    -o-filter: sepia(0);
    filter: sepia(0);
  }
}