@import "bootstrap-variables";
@import "mixins";

.legend {
  font-size: 14px;
  font-family: "Roboto Slab";
  font-weight: 400;
  color: $brand-secondary;
  .fa {
    &.yellow {
      color: $brand-primary;
    }
    &.red {
      color: $red;
    }
    &.green {
      color: $green;
    }
    &.blue {
      color: $blue;
    }
  }
}

[data-doughnut] {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  background: $brand-secondary;

  &:before, &:after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100%;
    z-index: 10;
  }

  &:before{
    top: 32%;
    bottom: 32%;
    left: 32%;
    right: 32%;
    background: $bodybg;
  }

  &:after{
    top: 26%;
    bottom: 26%;
    left: 26%;
    right: 26%;
    background: rgba($bodybg, 0.35);
  }

  &> div{
    position:absolute;
    width:50%;
    height:100%;
    overflow:hidden;
    left:50%;
    @include prefixed(transform-origin, left center);

    .before {
      content:"";
      position:absolute;
      width:100%;
      height:100%;
      left:-99%;
      @include prefixed(transform-origin, right center);

    }

    &.big {
      width:100%;
      height:100%;
      left:0%;
      @include prefixed(transform-origin, center);

      .before{
        left: 0;
        width: 50%;
      }

      &:after{
        content:"";
        position:absolute;
        width:50%;
        height:100%;
        left:50%;
      }
    }

    &:nth-child(1) .before, &:nth-child(1):after{
      background: $green;
    }

    &:nth-child(2) .before, &:nth-child(2):after{
      background: $blue;
    }

    &:nth-child(3) .before, &:nth-child(3):after{
      background: $brand-primary;
    }

    &:nth-child(4) .before, &:nth-child(4):after{
      background: $red;
    }
  }

}

//custom css
[data-doughnut]{
  margin: 15px;
}
