@import "bootstrap-variables";

#scroll-to-top {
  background: $brand-secondary;
  width: 55px;
  height: 55px;
  text-align: center;
  padding: 11px 0 0 0;
  position: fixed !important;
  bottom: 45px;
  right: 55px;
  display: none;
  z-index: 1600;
  border: 1px solid $white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.55;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  i {
    color: white;
  }
  &:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}

@media (max-width: $screen-md) {
  #scroll-to-top {
    bottom: 8px; right: 6px;
  }
}

footer {
    opacity: 0.5;
    position: relative;
    height: 80px;
    padding: 15px 0;
    background: rgba(17,14,11,0.8);
    .footer-copyright {
      padding: 5px 0 15px 0;
      text-align: center;
      color: $brand-secondary;
      font-size: 16px;
      font-family: "Roboto";
      text-align: left;
      @media (min-width: 639px) {
        float: left;
      }
    }
    .footer-social {
      text-align: center;
      padding: 15px 0;
      @media (min-width: 639px) {
        float: right;
        display: inline-block;
      }
      .fa {
        margin-left: 20px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid $brand-secondary;
        color: $brand-secondary;
        width: 26px;
        padding: 5px;
        text-align: center;
        cursor: pointer;
        &:hover {
          border: 1px solid $brand-primary;
          color: $brand-primary;
        }
      }
    }
}
