@import "bootstrap-variables";

footer {
    opacity: 0.5;
    position: relative;
    height: 80px;
    padding: 15px 0;
    background: rgba(17,14,11,0.8);
    .footer-copyright {
      padding: 15px 0;
      text-align: center;
      color: $brand-secondary;
      font-size: 16px;
      font-family: "Roboto";
      @media (min-width: 639px) {
        float: left;
      }
    }
    .footer-social {
      text-align: center;
      padding: 15px 0;
      @media (min-width: 639px) {
        float: right;
        display: inline-block;
      }
      .fa {
        margin-left: 20px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid $brand-secondary;
        color: $brand-secondary;
        width: 26px;
        padding: 5px;
        text-align: center;
        cursor: pointer;
        &:hover {
          border: 1px solid $brand-primary;
          color: $brand-primary;
        }
      }
    }
}
