@import "bootstrap-variables";
@import "mixins";


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $brand-secondary;
  font-size: 20px;
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $brand-secondary;
  font-size: 20px;
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $brand-secondary;
  font-size: 20px;
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 18- */
  color: $brand-secondary;
  font-size: 20px;
  opacity: 0.5;
}

.form-group {
  label {
    color: $brand-secondary;
    span {
      opacity: 0.5;
    }
  }
  textarea {
    resize:vertical;
  }
  textarea.form-control, input.form-control {
    background-color: rgba(17,14,11,0.9);
    border: 0;
    border-bottom: 2px solid $brand-secondary;
    padding: 30px 20px;
    font-size: 20px;
    color: $white;
    @include round-corners(0px);
    &:focus {
      border-bottom: 2px solid $brand-primary !important;
    }
  }
  .small-desc {
    width: 75%;
    font-size: 85%;
    color: $brand-secondary;
    opacity: 0.55;
    padding: 8px 0 0 0;
    &.mt12 {
      margin-top: 15px;
    }
  }
}

/*
 * Default jvFloat theme.
 * modify it as you wish!
 */

.jvFloat {
        position: relative;
        display: block;
        margin-top: 1em;
        width: 100%;
}

/* Start CSS3 Animations on supported browser */
.jvFloat .placeHolder {
        position: absolute;
        width: 100%;
        color: $brand-secondary;
        font-size: 1em;
        font-weight: 300;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transition: -webkit-transform 150ms, opacity 5s;
        transition: transform 150ms, opacity 5s;
        opacity: 0;
        visibility: hidden;
}
.jvFloat .placeHolder.active {
        display: block;
        visibility: visible;
        -webkit-transform: translate(0, -1.5em);
        -moz-transform: translate(0, -1.5em);
        -o-transform: translate(0, -1.5em);
        -ms-transform: translate(0, -1.5em);
        transform: translate(0, -1.5em);
        -webkit-transition: -webkit-transform 100ms, opacity 120ms;
        transition: transform 100ms, opacity 120ms;
        opacity: 1;
}
/* End CSS3 */

/* Legacy browser */
/*.jvFloat .placeHolder {
        position: absolute;
        top: -1em;
        left: 0;
        color: #0c61fc;
        font-size: .85em;
        font-weight: bold;
        opacity: 0;
        visibility: hidden;
}
.jvFloat .placeHolder.active {
        display: block;
        visibility: visible;
        opacity: 1;
}*/
/* End Legacy */

label.radio {
  display: block;
  margin: 10px 0;
}
