@import "bootstrap-variables";
@import "mixins";

/* centered columns styles */
p {
  margin: 25px 0;
}

.latest-tweet {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  cursor: pointer;
}

[role="tooltip"] {
  position: fixed;
  right: 50px;
  top: 10px;
  div.arrow {
    display: none;
  }
}

.row-centered {
    text-align:center;
    &.flex {
      width: 100%;
    }
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    vertical-align: text-top;
}

@media (max-width: $screen-lg) {
  .container {
    width: 100% !important;
  }
  #scroll-to-top {
    display: none !important;
  }
}

.yellow {
  color: $brand-primary;
}

.brown {
  color: $brand-secondary;
}

.accent {
  color: $white;
}

.home-logo {
  background: url(../images/home-logo.png) center center no-repeat;
  background-size: contain;
  //margin: 280px auto 0 auto;
  height: 160px;
}

.home-date-place {
  margin: 5% auto 0 auto;
}

#home-main-text {
  margin-top: 240px;
  @media (max-width: $screen-md) {
    margin-bottom: 40px;
  }
}

.mobile-menu-logo {
  float: left;
  height: 80px;
  width: 97px;
  background: rgba(27,23,19,0.9);
  text-align: center;
  margin: 0;
  img {
    opacity: 0.4;
    margin: 21px 0 0 0;
    &:hover {
      opacity: 0.75;
    }
  }
}

.main-bg {
  position: absolute;
  z-index: -1000;
  background: url(../images/home-main-bg.png) top center no-repeat;
  background-size: cover;
  &.home {
    top: -42px;
    left: 0;
    right: 0;
    height: 1280px;
  }
  &.page {
    top: -600px;
    left: 0;
    right: 0;
    height: 1280px;
  }
}

.hotel-offer {
  text-align: center;
  margin-top: 10px;
  .fa {
    margin-right: 5px;
  }
}

.map-holder {
  position: relative;
  height: 500px;
  .map-info {
    position: absolute;
    margin: 100px;
    height: 300px;
    width: 300px;
    background: rgba(17,14,11,0.8);
    z-index: 9;
    right: 0;
    padding: 15px 30px;
    &.hotel {
      height: 320px;
    }
  }
}

.map {
  height: 500px;
  margin: 35px 0 25px 0;
}

.tickets-holder {
  padding: 20px 10px 10px 10px; background: rgba(17,14,11,0.9);
  @include round-left-corners();
  @include round-right-corners();
}

// Animations
@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

// The Mouse
.mouse {
  position: relative;
  display: block;
  width: 32px;
  height:54px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid $brand-primary;
  border-radius: 23px;
  opacity: 0.55;
  // Scroll Indicator
  .mouse-movement {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: $white;
    border-radius: 50%;
    -webkit-animation: scroll-ani 2s linear infinite;
    -moz-animation: scroll-ani 2s linear infinite;
    animation: scroll-ani 2s linear infinite;
  }

}

.scroll-indicator {
  width: 32px;
  height: 54px;
  //background: url(../images/scroll-indicator.png) center center no-repeat;
  //margin: 425px auto 15px auto;
  position: absolute;
  bottom: 20px;
  left: 49%;
}

.plain {
  font-family: "Roboto";
}

.bold {
  font-weight: 700;
}

.pad-vertical-big {
  padding: 210px 0 105px 0;
}

.pad-vertical-med {
  padding: 175px 0;
}

.margin-top-huge {
  margin-top: 210px
}

.margin-top-big {
  margin-top: 125px;
}

.margin-top-med {
  margin-top: 90px;
}

.margin-top-small {
  margin-top: 55px;
}

.rounded-left {
  @media (min-width: $screen-md) {
    @include round-left-corners();
  }
}
.rounded-right {
  @media (min-width: $screen-md) {
    @include round-right-corners();
  }
}

h1 {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 60px;
  color: $white;
}

h2 {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 40px;
  color: $white;
}

h3 {
  font-family: "Roboto Slab";
  font-weight: 500;
  font-size: 30px;
  color: $white;
}

h4 {
  font-family: "Roboto Slab";
  font-weight: 300;
  font-size: 24px;
  color: $white;
  margin-top: 20px;
  &.bold {
    padding-bottom: 10px;
  }
}

h5 {
  font-size: 20px;
  font-family: "Roboto Slab";
  font-weight: 500;
  color: $white;
}

h6 {
  font-size: 16px;
  font-family: "Roboto Slab";
  font-weight: 500;
  color: $white;
}

.steam-separator {
  width: 361px;
  height: 70px;
  opacity: 0.25;
  background: url(../images/steam-separator.svg) center center no-repeat;
  margin: 75px auto 125px auto;
  max-width: 100%;
  display:block;
  &.half-space {
    margin: 25px auto 55px auto;
  }
  &.half-bottom {
    margin: 50px auto 25px auto;
  }
}

.inline { display: inline-block; }

iframe {
  &.video {
    margin: 25px 0;
  }
}

.responsive-video {
  position: relative;
  padding-bottom: 56.6%;
  margin-bottom: 60px;
}

.responsive-video iframe, .responsive-video object, .responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sp-logo {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 0 0 40px 0;
  &.block {
    display: block;
    margin-bottom: 50px;
  }
  .label {
    margin-top: 8px;
    font-style: italic;
    font-size: 90%;
    text-align: center;
    font-weight: 300;
    color: $brand-primary;
    display: block;
  }
  img {
    // background: rgba(17,14,11,0.4);
    opacity: 0.55;
    max-height: 150px;

    &.platinum {

    }
    &.diamond {

    }
    &.gold {

    }
    &.bronze {

    }
    &.limit100 {
      max-height: 100px;
    }
    &.limit90 {
      max-height: 90px;
    }
    &.limit80 {
      max-height: 80px;
    }
    &.limit70 {
      max-height: 70px;
    }
    &.limit55 {
      max-height: 55px;
    }
    &.limit50 {
      max-height: 50px;
    }
    &.limit45 {
      max-height: 45px;
    }
    &.limit40 {
      max-height: 40px;
    }
    &.limit35 {
      max-height: 35px;
    }
    &.limit30 {
      max-height: 30px;
    }
    &.limit25 {
      max-height: 25px;
    }
  }
  &:hover {
    img {
      opacity: 0.85;
    }
  }

}

.block-item, .block-text {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 22px;
  padding: 30px;
  margin: 3px;
  color: $brand-secondary;
}

.item-block-holder {
   padding: 0;
   img, span {
     margin: 0 auto;
   }
   &.logo {
     opacity: 0.5;
     padding: 15px;
     height: 75px;
     display: inline-flex;
     margin-top: 3em;
   }
}

.amyxlogo {
  font-family: "Arimo";
  font-size: 2em;
  color: $white;
  &:after {
    content: "+";
    font-size: 0.7em;
  }
}

.block-item {
  text-align: center;
  background: rgba(17,14,11,0.4);
  &:hover {
    cursor: pointer;
    background: rgba(17,14,11,0.9);
  }
  &.latest {
    background: rgba($red,0.8);
    color: $white;
    margin-top: 50px;
    @include round-corners(24px);
    h1, h2, h3, h4 {
      margin-top: 0;
    }
    &:hover {
      background: rgba($red,0.8);
    }
  }
  &.info {
    background: rgba(17,14,11,0.9);
    cursor: default;
    padding-bottom: 48px;
  }
  &.conduct {
    background: rgba(17,14,11,0.9);
    cursor: default;
    padding-bottom: 48px;
    margin: 75px 0 50px 0;
  }
  &.speaker {
    background: rgba(17,14,11,0.9);
    cursor: default;
    padding: 2px 20px 16px 20px;
    text-align: left;
    @include round-corners(10px);
    font-size: 140%;
  }
  &.clear {
    background: transparent;
    cursor: default;
  }
}

.speaker-holder {
  margin: 0px 0 0 0;
  @media (max-width: $screen-sm) {
    margin: 0 0 30px 0;
  }
  position: relative;
  &:hover {
    img.speaker-img {

    }
    img.frame {
      opacity: 1;
    }
  }
  .speaker-img {
    img {
      position: absolute;
      top: 12.5%;
      left: 12.5%;
      height: 72%;
      width: 74%;
      border: 2px solid black;
      @include round-corners(50%);
    }
  }
  img.frame {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
    position: relative;
    vertical-align: baseline;
    opacity: 0.5;
  }
}

.fa-star {
  color: $white;
  margin-right: 8px;
  font-size: 80%;
  opacity: 0.6;
}

.showmore-button {
    cursor: pointer;
    background-color: rgba($brand-secondary, 0.75);
    color: $body-bg;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 15px;
    margin: 15px 0 5px 0;
    display: inline-block;
    font-weight: 700;
    @include round-corners(18px);
}

.single-talk {
  border-bottom: 1px dotted rgba($brown, 0.75);
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  .talk-circle-links {
    a {
      margin-left: 10px;
    }
  }
  #talk-desc{
    padding-bottom: 5px;
    p {
      margin: 5px 0;
    }
  }
  .card-title {
    margin-top: 0;
  }
  .card-logo {
    vertical-align: bottom;
    height: 23px;
    margin-right: 15px;
  }
  .big-icon {
    font-size: 220%;
    color: $brand-primary;
    margin-top: 20px;
    padding: 10px;
    width: 55px;
    height: 55px;
    border: 1px solid $brand-primary;
    text-align: center;
    @include round-corners(50%);
    &.fa-microphone, &.fa-bolt, &.fa-link {
      padding-top: 12px;
    }
  }
  .title {
    color: $brand-primary;
    margin-bottom: 15px;
    text-align: left;
  }
  .second-speaker {
    color: $brand-secondary;
    text-align: left;
    margin-bottom: 20px;
  }
  .text {
    font-size: 130%;
    font-weight: 300;
    font-family: "Roboto";
    color: rgba($white, 0.8);
    text-align: left;
  }
  .tags {
    text-align: left;
    margin-bottom: 15px;
    padding-top: 5px;
    min-height: 37px;
    .tag {
      font-size: 90%;
      display: inline-block;
    	background-color: rgba($brand-secondary, 0.2);
    	color: $brand-secondary;
  	  font-size: 14px;
      font-family: "Roboto Slab";
      font-weight: 400;
    	line-height: 10px;
    	padding: 10px 9px 9px 9px;
    	margin: 0 10px 0 0;
    	cursor: pointer;
    	@include round-corners(16px);
      &.card {
        cursor: default;
      }
    }
  }
}

.block-text {
  h4 {
    font-weight: 500;
    margin: 25px 0;
  }
}

.home-block-grid {
  position: relative;
  margin-bottom: 150px;
  &.logos {
    margin-bottom: 50px;
  }
}

.card {
  padding: 50px 0 0 0;
  .thumb {
    text-align: center;
    background-color: #342D27;
    -webkit-border-radius: $border-radius-large;
    -moz-border-radius: $border-radius-large;
    border-radius: $border-radius-large;
    height: 150px;
    width: 150px;
    padding: 25px;
    margin: 0 auto;
    // &:hover {
    //   background-color: $brand-primary;
    // }
  }
  h3 {
    text-align: center;
    padding-bottom: 15px
  }
  .desc {
    font-size: 18px;
    text-align: center;
    font-family: "Roboto";
    font-weight: 300;
    color: $brand-secondary;
    padding: 0 35px;
  }
}

.home-circle-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  height: 80px;
  width: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(27,23,19,1);
  text-align: center;
  img {
    opacity: 0.2;
    margin: 24px 0 0 0;
  }
}

.false-btn {
  @include round-corners(24px);
  display: inline-block;
  margin: 5px 1px;
  border: 0 !important;
  padding: 0px 25px 5px 25px;
  span {
    font-size: 16px;
    opacity: 0.5;
    color: $white;
  }
}

div.line-subtitle > h5 {
  opacity: 0.2;
  display: inline-table;
  white-space: nowrap;
  font-size: 16px !important;
  margin: 25px 0 15px 0;
  &:before, &:after {
    border-top: 1px solid $white;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.6em;
    width: 45%;
  }
  &:before { right: 5%; }
  &:after { left: 5%; }
}
.false-btn, .btn {
  &.green {
    background-color: #358024;
  }
  &.red {
    background-color: #a13717;
  }
  &.blue {
    background-color: #0e5d6e;
  }
}

.footer-cta-block {
  background-size: cover !important;
  &.home {
    height: 326px;
    background: url(../images/cfp-img-bg.png) center center no-repeat;
  }
  &.info {
    height: 326px;
    background: url(../images/cfp-img-bg.png) center center no-repeat;
    @media (max-width: $screen-sm) {
      h2 {
        font-size: 26px;
      }
    }
  }
}

.info-content {
  text-align: center;
  button, a[role="button"] {
    @include round-corners(24px);
    width: 260;
    margin: 8px 0px;
    border: 0 !important;
    padding: 10px 50px;
    @media (min-width: $screen-md) {
      margin: 15px 40px;
    }
  }
}

button, a[role="button"] {
  @include round-corners(24px);
  width: 260;
  margin: 8px 0px;
  border: 0 !important;
  padding: 10px 50px;
  @media (min-width: $screen-md) {
    margin: 15px 40px;
  }
}

.info-block, .footer-cta-block {
  display: flex;
  align-items: center;
  justify-content: center;
  .info-content {
    padding: 1em;
  }
}

#home-mainscreen-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.soldout {
  position: absolute;
  top: 40px;
  right: 30px;
}

.sold {
  text-decoration: line-through;
  opacity: 0.6;
}

.flag-col {
  padding: 0 8px;
}

.flag {
  width: 100%;
  height: 56px;
  padding: 10px;
  position: relative;
  background-color: $brand-primary;
  font-size: 24px !important;
  font-family: "Roboto Slab";
  font-weight: 700 !important;
  color: $body-bg;
  text-align: center;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 56px;
    border-left: 10px solid $body-bg;
    border-bottom: 28px solid transparent;
    border-top: 28px solid transparent;
  }
  &:after {
    content: "";
    position: absolute;
    right: -10px;
    top: 0;
    width: 0;
    height: 56px;
    border-left: 10px solid $brand-primary;
    border-bottom: 28px solid transparent;
    border-top: 28px solid transparent;
  }
  &.first {
    background-color: rgba(239,194,51,0.3);
    &:after {
      opacity: 0.3;
    }
  }
  &.second {
    background-color: rgba(239,194,51,0.6);
    &:after {
      opacity: 0.6;
    }
  }
  &.passed {
    background-color: rgba(#a13717,0.5);
    &:after {
      border-left: 10px solid rgba(#a13717,0.5);
      opacity: 1;
    }
  }
}

.team-member {
  display: block;
  height: 260px;
  width: 150px;
  margin-bottom: 30px;
  &:hover {
    h6 {
      color: $white !important;
    }
  }
  .frame {
    position: absolute;
    height: 210px;
    width: 150px;
    overflow: hidden;
    @include round-corners(24px);
    img {
      position: absolute;
      width: 150px;
      height: auto;
      &.deki {
        width: 180px;
        height: auto;
        top: -30px;
        left: -15px;
      }
      &.igor {
        width: 160px;
        height: auto;
        top: -35px;
        left: 0px;
      }
      &.ana {
        width: 180px;
        height: auto;
        top: -60px;
      }
      &.antun {
        width: 150px;
        height: auto;
        top: -20px;
      }
      &.dusica {
        width: 180px;
        height: auto;
        top: -80px;
        left: -15px;
      }
      &.zile {
        width: 180px;
        height: auto;
        top: -90px;
        left: -5px;
      }
      &.tanja {
        width: 180px;
        height: auto;
        top: -20px;
        left: -5px;
      }
      &.jovana {
        width: 180px;
        height: auto;
        top: -50px;
        left: -15px;
      }
      &.tamara {
        width: 180px;
        height: auto;
        top: -45px;
        left: -15px;
      }
    }
  }
  .name {
    position: absolute;
    top: 210px;
    width: 150px;
    h6 {
      color: $brand-primary;
    }
  }
}

.speaker-home { display: none; }

.speaker {
  text-align: center;
  color: $white;
  margin: 0 0 30px 0;
  h6, h5, h4 {
    margin: 10px 0 0 0;
  }
  .company {
    border-bottom: 1px dotted rgba($brown, 0.75);
    padding-bottom: 15px;
    margin-bottom: 10px;
    color: $white;
  }
  .photo-frame {
    padding: 16px;
    width: 180px;
    height: 180px;
    background-size: cover;
    background-position: top;
    background-image: url(../images/speaker-frame-small.svg);
    margin: 0 auto 10px auto;
    img {
      width: 150px;
      height: 150px;
      margin: 0 auto 15px auto;
      border: 2px solid $body-bg;
      @include round-corners(50%);
      &.home {
        width: 100px;
        height: 100px;
      }

    }
  }
  .photo {
    background-size: cover;
    background-position: top;
    width: 150px;
    height: 150px;
    margin: 0 auto 15px auto;
    @include round-corners(50%);
    &.home {
      width: 100px;
      height: 100px;
    }
  }
  h1 {
    padding: 210px 0 0 0;
  }
}

.tagsort-tags-container {
  span {
  	display: inline-block;
  	background-color: rgba($brand-secondary, 0.2);
  	color: $brand-secondary;
	  font-size: 14px;
    font-family: "Roboto Slab";
    font-weight: 400;
  	line-height: 10px;
  	padding: 8px 9px 9px 9px;
  	margin: 5px;
  	cursor: pointer;
  	@include round-corners(16px);
  	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;

    &.tagsort-active {
    	background-color: $green;
    	color: $white;
      &:hover {
        background-color: rgba($green, 0.6);
      	color: rgba($white, 0.6);
      }
    }
    &:hover {
    	color: $brown-dark;
    	background-color: rgba($brand-secondary, 0.75);
    }
  }
}

.tags {
  .tag {
    color: $brand-secondary;
    padding-right: 5px;
    white-space: nowrap;
    font-size: 12px;
    &:before {
      content: '\f02b';
      font-family: 'FontAwesome';
    }
  }
}

.reset-holder {
  height: 40px;
  padding: 6px;
  .tags-reset {
    color: white;
    padding-top: 5px;
    cursor: pointer;
    display: none;
    width: 120px;
    margin: 0 auto;
    &:hover {
      background-color: $brand-primary;
      color: $body-bg;
    }
  }
}
