@import "bootstrap-variables";

.yellow {
  color: $brand-primary;
}

.brown {
  color: $brand-secondary;
}

.accent {
  color: $white;
}

.home-logo {
  background: url(../images/home-logo.png) center center no-repeat;
  margin: 180px auto;
  height: 160px;
}

.mobile-menu-logo {
  float: left;
  height: 70px;
  width: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: transparent;
  text-align: center;
  margin: 10px;
  img {
    opacity: 0.4;
    margin: 22px 0 0 10px;
  }
}

.main-bg {
  position: absolute;
  z-index: -1000;
  background: url(../images/home-main-bg.png) top center no-repeat;
  background-size: cover;
  &.home {
    top: 0;
    left: 0;
    right: 0;
    height: 880px;
  }
  &.page {
    top: -450px;
    left: 0;
    right: 0;
    height: 1080px;
  }
}

.scroll-indicator {
  width: 32px;
  height: 54px;
  background: url(../images/scroll-indicator.png) center center no-repeat;
  margin: 235px auto 240px auto;
}

.plain {
  font-family: "Roboto";
  font-weight: 300;
}

.pad-vertical-big {
  padding: 190px 0;
}

.margin-top-big {
  margin-top: 125px;
}

h1 {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 60px;
  color: $white;
}

h2 {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 40px;
  color: $white;
}

h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 30px;
  color: $white;
}

h4 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 24px;
  color: $white;
}

.steam-separator {
  width: 361px;
  height: 70px;
  opacity: 0.25;
  background: url(../images/separator_steam.png) center center no-repeat;
  margin: 75px auto 125px auto;
}

.item-block-holder {
   padding: 0;
   .block-item {
     text-align: center;
     background: rgba(17,14,11,0.4);
     &:hover {
       cursor: pointer;
       background: rgba(17,14,11,0.9);
     }
   }
 }

.block-item {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 24px;
  padding: 30px 20px;
  margin: 3px;
  color: $brand-secondary;
}

.home-block-grid {
  position: relative;
  margin-bottom: 150px;
}

.card {
  padding: 50px 0 0 0;
  .thumb {
    text-align: center;
    img {
      background-color: $brand-secondary;
      height: 150px;
      width: 150px;
      -webkit-border-radius: $border-radius-large;
      -moz-border-radius: $border-radius-large;
      border-radius: $border-radius-large;
    }
  }
  h3 {
    text-align: center;
    padding-bottom: 15px
  }
  .desc {
    font-size: 18px;
    text-align: center;
    font-family: "Roboto";
    font-weight: 300;
    color: $brand-secondary;
    padding: 0 15px;
  }
}

.home-circle-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  height: 80px;
  width: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(27,23,19,1);
  text-align: center;
  img {
    opacity: 0.2;
    margin: 24px 0 0 0;
  }
}

.info-block {
  background: url(../images/cfp-img-bg.png) center center no-repeat;
  background-size: cover;
  height: 326px;
  .info-content {
    text-align: center;
    padding: 95px 0 145px 0;;
    &.home {
      padding: 145px 0;
    }
    @media (max-width: 639px) {
      padding: 55px 0;
    }
    button {
      -webkit-border-radius: 24px;
      -moz-border-radius: 24px;
      border-radius: 24px;
      width: 260;
      border: 0;
      margin: 15px 40px;
      padding: 10px 50px;
    }
    .green {
      background-color: #358024;
    }
    .red {
      background-color: #a13717;
    }
    .blue {
      background-color: #0e5d6e;
    }
  }
}
