@import "bootstrap-variables";
@import "mixins";

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.yellow {
  color: $brand-primary;
}

.brown {
  color: $brand-secondary;
}

.accent {
  color: $white;
}

.home-logo {
  background: url(../images/home-logo.png) center center no-repeat;
  margin: 280px auto 740px auto;
  height: 160px;
}

.mobile-menu-logo {
  float: left;
  height: 70px;
  width: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: transparent;
  text-align: center;
  margin: 10px;
  img {
    opacity: 0.4;
    margin: 22px 0 0 10px;
  }
}

.main-bg {
  position: absolute;
  z-index: -1000;
  background: url(../images/home-main-bg.png) top center no-repeat;
  background-size: cover;
  &.home {
    top: -42px;
    left: 0;
    right: 0;
    height: 1280px;
  }
  &.page {
    top: -600px;
    left: 0;
    right: 0;
    height: 1280px;
  }
}

.map-holder {
  position: relative;
  height: 500px;
  .map-info {
    position: absolute;
    margin: 100px;
    height: 300px;
    width: 300px;
    background: rgba(17,14,11,0.8);
    z-index: 100;
    right: 0;
    padding: 15px 30px;
  }
}

#map {
  height: 500px;
  margin: 55px 0 25px 0;
}

.tickets-holder {
  padding: 20px 10px 10px 10px; background: rgba(17,14,11,0.9);
  @include round-left-corners();
  @include round-right-corners();
}

// Animations
@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

// The Mouse
.mouse {
  position: relative;
  display: block;
  width: 32px;
  height:54px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid $brand-primary;
  border-radius: 23px;
  opacity: 0.55;
  // Scroll Indicator
  .mouse-movement {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: $white;
    border-radius: 50%;
    -webkit-animation: scroll-ani 2s linear infinite;
    -moz-animation: scroll-ani 2s linear infinite;
    animation: scroll-ani 2s linear infinite;
  }

}

.scroll-indicator {
  width: 32px;
  height: 54px;
  //background: url(../images/scroll-indicator.png) center center no-repeat;
  margin: 425px auto 15px auto;
  position: absolute;
  bottom: 20px;
  left: 49%;
}

.plain {
  font-family: "Roboto";
}

.bold {
  font-weight: 700;
}

.pad-vertical-big {
  padding: 210px 0;
}

.pad-vertical-med {
  padding: 175px 0;
}

.margin-top-big {
  margin-top: 125px;
}

.margin-top-med {
  margin-top: 90px;
}

.margin-top-small {
  margin-top: 55px;
}

.rounded-left {
  @media (min-width: $screen-md) {
    @include round-left-corners();
  }
}
.rounded-right {
  @media (min-width: $screen-md) {
    @include round-right-corners();
  }
}

h1 {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 60px;
  color: $white;
}

h2 {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 40px;
  color: $white;
}

h3 {
  font-family: "Roboto Slab";
  font-weight: 500;
  font-size: 30px;
  color: $white;
}

h4 {
  font-family: "Roboto Slab";
  font-weight: 300;
  font-size: 24px;
  color: $white;
  margin-top: 20px;
  &.bold {
    padding-bottom: 10px;
  }
}

h5 {
  font-size: 20px;
  font-family: "Roboto Slab";
  font-weight: 500;
  color: $white;
}

.steam-separator {
  width: 361px;
  height: 70px;
  opacity: 0.25;
  background: url(../images/separator_steam.png) center center no-repeat;
  margin: 75px auto 125px auto;
  max-width: 100%;
  display:block
}

.test-line {}

.sponsor-logo {
  text-align: center;
  a {
    img {
      // background: rgba(17,14,11,0.4);
      opacity: 0.55;
    }
    &:hover {
      img {
        opacity: 0.85;
      }
    }
  }
}

.block-item, .block-text {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 22px;
  padding: 30px 20px;
  margin: 3px;
  color: $brand-secondary;
}

.item-block-holder {
   padding: 0;
   .block-item {
     text-align: center;
     background: rgba(17,14,11,0.4);
     &:hover {
       cursor: pointer;
       background: rgba(17,14,11,0.9);
     }
     &.info {
       background: rgba(17,14,11,0.9);
       cursor: default;
       padding-bottom: 48px;
     }
   }
 }

 .fa-star {
   color: $white;
   margin-right: 8px;
   font-size: 80%;
   opacity: 0.6;
 }



.block-text {
  h4 {
    font-weight: 500;
    margin: 25px 0;
  }
}

.home-block-grid {
  position: relative;
  margin-bottom: 150px;
}

.card {
  padding: 50px 0 0 0;
  .thumb {
    text-align: center;
    background-color: #342D27;
    -webkit-border-radius: $border-radius-large;
    -moz-border-radius: $border-radius-large;
    border-radius: $border-radius-large;
    height: 150px;
    width: 150px;
    padding: 25px;
    margin: 0 auto;
    // &:hover {
    //   background-color: $brand-primary;
    // }
  }
  h3 {
    text-align: center;
    padding-bottom: 15px
  }
  .desc {
    font-size: 18px;
    text-align: center;
    font-family: "Roboto";
    font-weight: 300;
    color: $brand-secondary;
    padding: 0 35px;
  }
}

.home-circle-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  height: 80px;
  width: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(27,23,19,1);
  text-align: center;
  img {
    opacity: 0.2;
    margin: 24px 0 0 0;
  }
}

.false-btn {
  @include round-corners(24px);
  display: inline-block;
  margin: 5px 1px;
  border: 0 !important;
  padding: 0px 25px 5px 25px;
  span {
    font-size: 16px;
    opacity: 0.5;
    color: $white;
  }
}

div.line-subtitle > h5 {
  opacity: 0.2;
  display: inline-table;
  white-space: nowrap;
  font-size: 16px !important;
  margin: 25px 0 15px 0;
  &:before, &:after {
    border-top: 1px solid $white;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.6em;
    width: 45%;
  }
  &:before { right: 5%; }
  &:after { left: 5%; }
}

.green {
  background-color: #358024;
}
.red {
  background-color: #a13717;
}
.blue {
  background-color: #0e5d6e;
}

.info-block {
  background-size: cover !important;
  &.home {
    height: 326px;
    background: url(../images/cfp-img-bg.png) center center no-repeat;
  }
  &.info {
    height: 326px;
    background: url(../images/cfp-img-bg.png) center center no-repeat;
  }
}

.info-content {
  text-align: center;
  button, a[role="button"] {
    @include round-corners(24px);
    width: 260;
    margin: 8px 0px;
    border: 0 !important;
    padding: 10px 50px;
    @media (min-width: $screen-md) {
      margin: 15px 40px;
    }
  }
}

.info-block {
  display: flex;
  align-items: center;
  justify-content: center;
  .info-content {
    padding: 1em;
  }
}

.flag-col {
  padding: 0 8px;
}

.flag {
  width: 100%;
  height: 56px;
  padding: 10px;
  position: relative;
  background-color: $brand-primary;
  font-size: 24px !important;
  font-family: "Roboto Slab";
  font-weight: 700 !important;
  color: $body-bg;
  text-align: center;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 56px;
    border-left: 10px solid $body-bg;
    border-bottom: 28px solid transparent;
    border-top: 28px solid transparent;
  }
  &:after {
    content: "";
    position: absolute;
    right: -10px;
    top: 0;
    width: 0;
    height: 56px;
    border-left: 10px solid $brand-primary;
    border-bottom: 28px solid transparent;
    border-top: 28px solid transparent;
  }
  &.first {
    background-color: rgba(239,194,51,0.3);
    &:after {
      opacity: 0.3;
    }
  }
  &.second {
    background-color: rgba(239,194,51,0.6);
    &:after {
      opacity: 0.6;
    }
  }
}
