@import "bootstrap-variables";

.header-holder {
  background: rgba(27,23,19,0.4);
  .main-menu-logo {
    display: none;
  }
  &.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
    background: rgba(17,14,11,0.9);
    // .main-menu-item {
    //   padding-top: 10px;
    // }
    .main-menu-logo {
        width: 100%;
        display: block;
        z-index: 200;
        padding: 15px;
        border-bottom: 1px solid rgba(152,133,120, 0.3);
        text-align: center;
      img {
        width: 126px;
      }
    }
  }
}

.navbar {
  border: 0;
  min-height: 0;
}

.affix-top {
  .navbar {
    background: rgba(27,23,19,0.4);
  }
}

.affix {
  .navbar {
    background: rgba(27,23,19,0.9);
  }
}

.nav.main-menu {
  margin-top: 0px;
}

.nav-pills>li {
  text-align: center;
}

.nav-pills>li>a, .nav-pills>li.active>a {
  background: transparent;
  display: inline-block;

  &:hover, &:active, &:focus {
    background: transparent;
  }
}

.main-menu-item {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  display: inline-block;

  @media (min-width: 639px) {
    padding: 30px 0 0 0;
  }
  a {
    color: $white;
    text-decoration: none;
    padding-bottom: 15px !important;
  }
  &.active {
    border-bottom: 5px solid $brand-primary;
    background-color: rgba(17,14,11,0.4);
    color: $white;
    padding-left: 15px;
    padding-right: 15px;
  }
}
