@import "bootstrap-variables";

.navbar {
  border: 0;
  min-height: 0;
}

.nav.main-menu {
  margin-top: 0px;
}

.nav-pills>li {
  text-align: center;
}

.nav-pills>li>a, .nav-pills>li.active>a {
  background: transparent;
  display: inline-block;

  &:hover, &:active, &:focus {
    background: transparent;
  }
}

.main-menu-item {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  display: inline-block;

  @media (min-width: 639px) {
    margin: 30px 0 0 0;
    padding: 40px 0 0 0;
  }
  a {
    color: $white;
    text-decoration: none;
  }
  &.active {
    border-bottom: 5px solid $brand-primary;
    background-color:  rgba(27,23,19,0.6);
    color: $white;
    padding-left: 15px;
    padding-right: 15px;
  }
}
