@import "bootstrap-variables";
@import "mixins";

#flatmenu,
#flatmenu ul,
#flatmenu ul li,
#flatmenu ul li a,
#flatmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#flatmenu:after,
#flatmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#flatmenu #menu-button {
  display: none;
}
#flatmenu {
  line-height: 1;
  background: #ffffff;
  width: auto;
  z-index: 200;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #efc231;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#flatmenu > ul > li {
  float: left;
}
#flatmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#flatmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#flatmenu.align-center ul ul {
  text-align: left;
}
#flatmenu.align-right > ul > li {
  float: right;
}
#flatmenu.align-right ul ul {
  text-align: right;
}
#flatmenu > ul > li > a {
  padding: 20px;
  font-size: 12px;
  font-family: Roboto;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#flatmenu > ul > li:hover > a,
#flatmenu > ul > li.active > a {
  color: #efc231;
}
#flatmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
#flatmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 21px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#flatmenu > ul > li.has-sub:hover > a::after {
  border-color: #efc231;
}
#flatmenu ul ul {
  position: absolute;
  left: -9999px;
}
#flatmenu li:hover > ul {
  left: auto;
}
#flatmenu.align-right li:hover > ul {
  right: 0;
}
#flatmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#flatmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#flatmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#flatmenu ul li:hover > ul > li {
  height: 32px;
}
#flatmenu ul ul li a {
  padding: 10px 20px;
  width: 160px;
  font-size: 12px;
  background-color: rgba(17, 14, 11, 0.6);
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#flatmenu ul ul li:hover > a,
#flatmenu ul ul li a:hover {
  color: #efc231;
}
#flatmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#flatmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
#flatmenu ul ul li.has-sub:hover > a::after {
  border-color: #efc231;
}
#flatmenu.small-screen {
  width: 100%;
}
#flatmenu.small-screen ul {
  width: 100%;
  margin-top:10px;
  display: block;
}
#flatmenu.small-screen.align-center > ul,
#flatmenu.small-screen.align-right ul ul {
  text-align: left;
}
#flatmenu.small-screen ul li,
#flatmenu.small-screen ul ul li,
#flatmenu.small-screen ul li:hover > ul > li {
  width: 100%;
  height: auto;
  border-top: 1px solid rgba(120, 120, 120, 0.45);
}
#flatmenu.small-screen ul li a,
#flatmenu.small-screen ul ul li a {
  width: 100%;
  font-size: 14px;
  background: rgba(27,23,19,0.9);
}
#flatmenu.small-screen > ul > li,
#flatmenu.small-screen.align-center > ul > li,
#flatmenu.small-screen.align-right > ul > li {
  float: none;
  display: block;
}
#flatmenu.small-screen ul ul li a {
  padding: 20px 20px 20px 30px;
  color: #ffffff;
  background: rgba(27,23,19,0.9);
}
#flatmenu.small-screen ul ul li:hover > a,
#flatmenu.small-screen ul ul li a:hover {
  color: #ffffff;
}
#flatmenu.small-screen ul ul ul li a {
  padding-left: 40px;
}
#flatmenu.small-screen ul ul,
#flatmenu.small-screen ul ul ul {
  position: relative;
  left: 0;
  right: auto;
  width: 100%;
  margin: 0;
}
#flatmenu.small-screen > ul > li.has-sub > a::after,
#flatmenu.small-screen ul ul li.has-sub > a::after {
  display: none;
}
#flatmenu.small-screen #menu-line {
  display: none;
}
#flatmenu.small-screen #menu-button {
  display: none;
  padding: 20px;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
}
#flatmenu.small-screen #menu-button::after {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 15px;
  height: 2px;
  background: #ffffff;
}
#flatmenu.small-screen #menu-button::before {
  content: '';
  position: absolute;
  top: 25px;
  right: 20px;
  display: block;
  width: 15px;
  height: 3px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
#flatmenu.small-screen .submenu-button {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  display: block;
  border-left: 1px solid rgba(120, 120, 120, 0.45);
  height: 52px;
  width: 52px;
  cursor: pointer;
}
#flatmenu.small-screen .submenu-button::after {
  content: '';
  position: absolute;
  top: 21px;
  left: 26px;
  display: block;
  width: 1px;
  height: 11px;
  background: #ffffff;
  z-index: 99;
}
#flatmenu.small-screen .submenu-button::before {
  content: '';
  position: absolute;
  left: 21px;
  top: 26px;
  display: block;
  width: 11px;
  height: 1px;
  background: #ffffff;
  z-index: 99;
}
#flatmenu.small-screen .submenu-button.submenu-opened:after {
  display: block;
}
#flatmenu.small-screen.select-list {
  padding: 5px;
}
#flatmenu {
  background-color: rgba(17, 14, 11, 0.4);
}

.navbar-default .navbar-toggle {
  background-color: rgba(27,23,19,0.9) !important;
  padding: 25px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 0;
  .icon-bar {
    display: block;
    width: 30px;
    height: 5px;
    background: rgba($brand-primary, 0.6);
  }
  :focus {
    background-color: transparent;
  }
  &:hover {
    background: rgba(27,23,19,0.9);
    .icon-bar {
      background: $brand-primary;
    }
  }
}

.navbar-collapse {
  .navcontainer {
    width: 100%;
    padding: 0;
  }
}

.header-holder {
  border: 0;
  .main-menu-logo {
    display: none;
  }
  &.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:11;
    .navbar-collapse {
      background: rgba(27,23,19,0.1);
    }
    .menu_item {
      a {
        -webkit-transition: padding 0.5s;
        -moz-transition: padding 0.5s;
        -o-transition: padding 0.5s;
        -ms-transition: padding 0.5s;
        transition: padding 0.5s;
        padding-top: 1em !important;
      }
    }
    .main-menu-logo {
      width: 100%;
      display: block;
      z-index: 200;
      padding: 15px;
      border-bottom: 1px solid rgba(152,133,120, 0.3);
      text-align: center;
      img {
        width: 126px;
      }
    }
  }
  &.affix-top {
    .menu_item {
      a {
        -webkit-transition: padding 0.5s;
        -moz-transition: padding 0.5s;
        -o-transition: padding 0.5s;
        -ms-transition: padding 0.5s;
        transition: padding 0.5s;
      }
    }
  }
}
