@import "bootstrap-variables";
@import "mixins";

.flatmenu {

}

.collapsing {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;
}

.flatmenu-dark {
  -webkit-transition: opacity 1.25s linear;
  -moz-transition: opacity 1.25s linear;
  -ms-transition: opacity 1.25s linear;
  -o-transition: opacity 1.25s linear;
  transition: opacity 1.25s linear;
  background-color: $body-bg;
}

.flatmenu-tall {
  height: 98px !important;
}

.menu_item {
  width: 100%;
  float: left;
  font-size: 1em;
  font-weight: 500;
  font-family: "Roboto Slab";
  &.open {
    position: relative;
  }
  a {
    position: relative;
    color: $white;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    padding: 1em 0em .75em 0em;
    &:after {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 0px;
      background: $brand-secondary;
      content: '';
    }
    &:hover {
      &:after {
      height: 5px;
      }
    }
  }
  &.active {


    // background-color: rgba(17,14,11,0.4);
    color: $white;
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;

    border-bottom: 5px solid $brand-primary;
  }
}

.dropdown-toggle {
  &.active {
    &:after {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 0px;
      background: $brand-primary;
      content: '';
      height: 5px;
    }
  }
}

.dropdown-menu {
  border: 0;
  background: rgba($bodybg,0.75);
  @media (min-width: $screen-lg) {
    left: 15px;
    margin: 0;
    padding: 0;
  }
  @media (max-width: $screen-lg) {
    position: relative !important;
    width: 100%;
  }
  @include round-corners(0px);
  .menu_item {
    display: block !important;
    .item_link {
      padding-top: 1em !important;
      color: $white;
      font-weight: 300;
      @media (max-width: $screen-lg) {
        text-align: center !important;
      }
      &:hover {
        background-color: #1b1713 !important;
      }
    }
  }
}

.header-holder {
  border: 0;
  .main-menu-logo {
    display: none;
  }
  &.affix, &.affix-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
    height: 50px;
    @media (min-width: $screen-lg) {
      background: rgba($bodybg, 0.5);
    }
    .main-menu-logo {
        width: 100%;
        display: block;
        z-index: 200;
        padding: 15px;
        border-bottom: 1px solid rgba(152,133,120, 0.3);
        text-align: center;
      img {
        width: 126px;
      }
    }
  }

}

.navbar-collapse {
  &.in, &.collapsing {
    background: transparent;
    .menu_item.active, a {
      padding: 1em 0;
    }
  }
}

.navbar-default .navbar-toggle {
  background-color: rgba($bodybg,0.9) !important;
  padding: 25px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 0;
  .icon-bar {
    display: block;
    width: 30px;
    height: 5px;
    background: rgba($brand-primary, 0.6);
  }
  :focus {
    background-color: transparent;
  }
  &:hover {
    background: rgba($bodybg,0.9);
    .icon-bar {
      background: $brand-primary;
    }
  }
}

.nav.main-menu {
  margin-top: 0px;
}

///////

.mainmenu {
  margin:  0;
  padding: 0;
  list-style: none;
  display: table; /* [1] */
  table-layout: fixed; /* [2] */
  width: 100%; /* [3] */
}

/**
 * Primary nav. Extends `.tabs`.
 *
 * 1. Stop tabs’ corners leaking out beyond our 4px round.
 */
.primary-nav {
  text-align: center;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  /* overflow: hidden; */
  a {
    opacity: 0.65;
    background: transparent;
    text-decoration: none;
    border-bottom: 5px solid transparent;
  }
}



@media (min-width: $screen-lg) {
  .menu_item {
    display: table-cell; /* [4] */
    float: none;
    width: auto;
  }
}


.item_link {
    display: block; /* [5] */
}

/* Responsive-nav.js */

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

///////

@media (max-width: $screen-lg) {

  .navbar-header {
    background: transparent;
  }
  .navbar-collapse {
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    margin: 0 80px 0 97px;
    border: 0;
    background: transparent;
    &.collapsing, &.collapsed {
      background: rgba($bodybg,0.9) !important;
      .mainmenu {
        opacity: 0;
      }
    }
    &.in {
      background: rgba($bodybg,0.9) !important;
      .mainmenu {
        opacity: 1;
      }
      .menu_item {
        padding: 0.75em 0 0 0;
        .item_link {
          padding: 0 0 0.25em 0 !important;
        }
        a:after {
          left: 25%;
          right: 25%;
          width: auto;
        }
      }
      .menu_item.active {
        padding: 0.75em 0 0.25em 0;
        margin: 0 25%;
        width: 50%;
      }
    }
    .container {
      width: 100%;
      padding: 0;
    }
  }

  // .menu_item {
  //   &.active, a {
  //     padding: 0.5em 0;
  //   }
  //   a {
  //     padding: 0.5em 0;
  //     &:hover {
  //       padding: 0.5em 0;
  //     }
  //   }
  // }
}
