@import "bootstrap-variables";

.header-holder {
  border: 0;
  .main-menu-logo {
    display: none;
  }
  &.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;

    // .main-menu-item {
    //   padding-top: 10px;
    // }
    .main-menu-logo {
        width: 100%;
        display: block;
        z-index: 200;
        padding: 15px;
        border-bottom: 1px solid rgba(152,133,120, 0.3);
        text-align: center;
      img {
        width: 126px;
      }
    }
  }
}

.navbar-collapse {
  background: rgba(27,23,19,0.4);
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  transition: background-color 0.5s;
  border: 0;
  &.in {
    background: transparent;
  }
}

.affix {
  .navbar-collapse {
    background: rgba(27,23,19,0.9);
  }
}

.navbar-default .navbar-toggle {
  opacity: 0.75;
  margin-bottom: 0;
  border: 0;
  .icon-bar {
    display: block;
    width: 30px;
    height: 5px;
    background: $brand-secondary;
  }
  &:focus {
   background: transparent;
  }
  &:hover {
    background: transparent;
    .icon-bar {
      background: $brand-primary;
    }
  }
}

.nav.main-menu {
  margin-top: 0px;
}

.nav-pills>li {
  text-align: center;
}

@media (max-width: $screen-lg) {
  .container {
    width: 100%;
  }
  .navbar-header {
    background: rgba(27,23,19,0.9);
  }
  .navbar-collapse {
    overflow: hidden;
    width: 100% !important;
    display: inline-block;
    border: 0;
  }
  .in {
    background: rgba(27,23,19,0.9) !important;
  }
  .nav-justified, .nav-tabs.nav-justified {
    border: 0;
  }
  .nav-justified>li, .nav-tabs.nav-justified>li {
    display: block;
    width: auto;
  }
}

.nav-pills>li>a, .nav-pills>li.active>a {
  background: transparent;
  display: inline-block;
  &:hover, &:active, &:focus {
    background: transparent;
  }
}

.mm-item-pad {
  padding-top: 10px !important;
}

.main-menu-item {

  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  display: inline-block;
  padding: 10px 0 0 0;
  @media (min-width: $screen-lg) {
    padding: 40px 0 0 0;
    -webkit-transition: padding 0.5s;
    -moz-transition: padding 0.5s;
    -o-transition: padding 0.5s;
    -ms-transition: padding 0.5s;
    transition: padding 0.5s;
  }

  a {
    color: $white;
    text-decoration: none;
    padding-bottom: 15px !important;
  }
  &.active {
    background-color: rgba(17,14,11,0.4);
    color: $white;
    padding: 10px 0;
    border-bottom: 5px solid $brand-primary;
  }
}
