@import "bootstrap-variables";
@import "mixins";

.schedule-tabs-holder {
  margin: 150px 0 150px 0;
}

#track-tabs {
  margin-bottom: 150px;
}

.schedule-list {
  position: relative;
  height: 3600px;
  padding: 0 30px;
  .schedule-track {
    @media (min-width: $screen-lg) {
      padding-left: 15px;
      padding-right: 0;
    }
    .track-name {
      padding: 5px 0;
      text-align: center;
      font-weight: 700;
      color: $brand-primary;
    }
  }
  .schedule-item {
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: rgba($brand-secondary, 0.075);
    border-top: 1px solid $brand-primary;
    .duration {
      color: $brand-secondary;
    }
    .plus-icon {
      display: block;
      margin-top: 15px;
      color: $white;
      opacity: 0.25;
    }
    &.lunch {
      background-color: $blue;
      .duration {
        color: $white;
      }
    }
    &.coffee {
      background-color: rgba($brown, 0.75);
    }
    &.chillout {
      background-color: $green;
      .duration {
        color: $white;
      }
    }
    @media (max-width: $screen-lg) {
      border-top: 1px solid rgba($brand-secondary, 0.5);
    }
    h4, h5, h6 {
      line-height: 130%;
      margin-top: 10px;
    }
    .break {
      margin-bottom: 0px;
    }
    .item-content {
      padding: 0px 10px 10px 10px;
      width: 100%;
      color: $brand-secondary;
      font-family: "Roboto";
      font-size: 16px;
      text-align: center;
    }
    &:last-child {
      border-bottom: 1px solid $brand-primary;
      @media (max-width: $screen-lg) {
        border-bottom: 1px solid rgba($brand-secondary, 0.5);
      }
      margin-bottom: 50px;
    }
    &.empty {
      background-image: url('../images/empty-schedule.png');
      background-repeat: repeat;
      @media (max-width: $screen-lg) {
        display: none;
      }
    }
  }
}

.schedule-header {
  h5 {
    margin-bottom: 20px;
    margin-left: 10px;
  }
}

.abs-holder {
  @media (min-width: $screen-lg) {
    position: absolute;
    width: 100%;
    top: -63px;
  }
}

.s-clock {
  position: relative;
  height: 100px;
  width: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: -61px;
  margin: 0 0 0 auto !important;
  background-size: cover;
  z-index: 2000;
  .s-clock-background {
    height: 100px;
    width: 100px;
    background: transparent url(../images/clock-bg.svg);
  }
  .indicator {
    position: absolute;
    top: 49px;
    width: 1080px;
    right: 0px;
    border-top: 3px dotted $brand-secondary;
    opacity: 0.15;
    z-index: -1900;
   }
 }

.s-clock-minutes {
  position: absolute;
  left: 48px;
  top: 15px;
  height: 35px;
  width: 4px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 25%;
  background: $brand-secondary;
  margin: 0 auto !important;
  // -ms-transform: rotate(180deg); /* IE 9 */
  // -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  // transform: rotate(180deg);
  // -ms-transform-origin: center bottom; /* IE 9 */
  // -webkit-transform-origin: center bottom; /* Chrome, Safari, Opera */
  // transform-origin: center bottom;
}

.s-clock-hours {
  position: absolute;
  left: 48px;
  top: 25px;
  height: 25px;
  width: 4px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 25%;
  background: $brand-secondary;
  margin: 0 auto !important;
  // -ms-transform: rotate(255deg); /* IE 9 */
  // -webkit-transform: rotate(255deg); /* Chrome, Safari, Opera */
  // transform: rotate(255deg);
  // -ms-transform-origin: center bottom; /* IE 9 */
  // -webkit-transform-origin: center bottom; /* Chrome, Safari, Opera */
  // transform-origin: center bottom;
}
