@import "bootstrap-variables";
@import "mixins";

.schedule-tabs-holder {
  margin: 150px 0 150px 0;
}

#track-tabs {
  margin-bottom: 150px;
}

.btn-talk-schedule {
  margin: -5px 0 0 0 !important;
  padding: 10px 25px !important;
  background-color: $blue;
  color: $white;
  font-family: "Roboto Slab";
  .fa-chevron-right {
    font-size: 16px;
  }
}

.talk-schedule {
  margin: 0 10px 0 0;
}

.devicons {
	&.coffee {
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0.2;
		font-size: 3.65em;
		color: $brand-primary;
	}
}

.lunch {
	position: absolute;
	top: 0px;
	right: 0px;
  background-color: #005d6c;
  bottom: 0;
  left: 65%;
  padding: 10px;
  .lunch-icon {
  	opacity: 0.5;
  	font-size: 3.95em;
  }
  .duration {
    color: $white !important;
  }
  .text-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    font-family: "Roboto Slab";
    font-weight: 900;
    opacity: 0.5;
    font-size: 1.7em;
    text-align: left;
    line-height: 100%;
    margin-top: 5px;
  }
}

.chill-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: 0.5;
	font-size: 2.65em;
}

.schedule-list {
  position: relative;
  height: 3600px;
  padding: 0 30px;
  .schedule-track {
    position: relative;
    padding-top: 52px;
    @media (min-width: $screen-lg) {
      padding-left: 15px;
      padding-right: 0;
    }
    &.col-md-6 {
      @media (max-width: $screen-lg) {
        clear: both;
      }
    }
    .track-name {
      position: absolute;
      top: 0;
      left: 15px;
      right: 0;
      padding: 5px !important;
      text-align: center;
      font-weight: 700;
      color: $brand-primary;
      background-color: $body-bg;
      z-index: 9;
    }
  }
  .schedule-item {
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: rgba($brand-secondary, 0.075);
    border-top: 1px solid $brand-primary;
    &.highlighted {
      background-color: rgba($brand-primary, 0.85) !important;
      h4, h6, .brown {
        color: $body-bg;
      }
    }
    .duration {
      color: $brand-secondary;
    }
    .plus-icon {
      display: block;
      margin-top: 15px;
      color: $white;
      opacity: 0.25;
    }
    .lightning {
      font-size: 14px;
      margin: 5px 0;
      width: 60%;
      &.title{
        margin-bottom: 10px;
      }
    }
    &.lunch {
      background-color: $blue;
      .duration {
        color: $white;
      }
    }
    &.coffee {
      background-color: rgba($brown, 0.75);
    }
    &.chillout {
      background-color: $green;
      .duration {
        color: $white;
      }
    }
    @media (max-width: $screen-lg) {
      border-top: 1px solid rgba($brand-secondary, 0.5);
    }
    h4, h5, h6 {
      line-height: 130%;
      margin-top: 10px;
    }
    .break {
      margin-bottom: 0px;
    }
    .form-link {
      background-color: $red;
      padding: 6px 12px;
      margin: 5px 0 10px 0;
    }
    .item-content {
      padding: 0px 10px 10px 10px;
      width: 100%;
      color: $brand-secondary;
      font-family: "Roboto";
      font-size: 16px;
      text-align: center;
    }
    &:last-child {
      border-bottom: 1px solid $brand-primary;
      @media (max-width: $screen-lg) {
        border-bottom: 1px solid rgba($brand-secondary, 0.5);
      }
      margin-bottom: 50px;
    }
    &.empty {
      background-image: url('../images/empty-schedule.png');
      background-repeat: repeat;
      @media (max-width: $screen-lg) {
        display: none;
      }
    }
  }
}

.schedule-header {
  h5 {
    margin-bottom: 20px;
    margin-left: 10px;
  }
}

.abs-holder {
  @media (min-width: $screen-lg) {
    position: absolute;
    width: 100%;
    top: -63px;
  }
}
.day {
  display: none;
  margin-right: 5px;
  margin-top: 5px;
}
.s-clock {
  position: relative;
  height: 100px;
  width: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: -61px;
  margin: 0 0 0 auto !important;
  background-size: cover;
  z-index: 2;
  .s-clock-background {
    height: 100px;
    width: 100px;
    background: transparent url(../images/clock-bg.svg);
  }
  .indicator {
    position: absolute;
    top: 49px;
    width: 1080px;
    right: 0px;
    border-top: 3px dotted $brand-secondary;
    opacity: 0.15;
    z-index: -1900;
   }
 }

.s-clock-minutes {
  position: absolute;
  left: 48px;
  top: 15px;
  height: 35px;
  width: 4px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 25%;
  background: $brand-secondary;
  margin: 0 auto !important;
  // -ms-transform: rotate(180deg); /* IE 9 */
  // -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  // transform: rotate(180deg);
  // -ms-transform-origin: center bottom; /* IE 9 */
  // -webkit-transform-origin: center bottom; /* Chrome, Safari, Opera */
  // transform-origin: center bottom;
}

.s-clock-hours {
  position: absolute;
  left: 48px;
  top: 25px;
  height: 25px;
  width: 4px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 25%;
  background: $brand-secondary;
  margin: 0 auto !important;
  // -ms-transform: rotate(255deg); /* IE 9 */
  // -webkit-transform: rotate(255deg); /* Chrome, Safari, Opera */
  // transform: rotate(255deg);
  // -ms-transform-origin: center bottom; /* IE 9 */
  // -webkit-transform-origin: center bottom; /* Chrome, Safari, Opera */
  // transform-origin: center bottom;
}

.more-z {
  z-index: 16 !important;
}
