// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@import "bootstrap3-block-grid";

@import "font-awesome-compass";
@import "font-awesome";

@import "overrides";
@import "mixins";
@import "general";
@import "mainmenu";
@import "blog";
@import "form";
@import "footer";
@import "devicons";
@import "donut";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

body {
  /* padding-top: 110px; */
}
